.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  padding: 2px 0;
}

.lead-icon {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.caption {

  display: block;
  margin: 0 0 0 4px;
}

.state {
  &--default {
    color: var(--text-base-tertiary);
  }

  &--success {
    color: var(--text-status-success);
  }

  &--destructive {
    color: var(--text-status-destructive);
  }
}