@use "../../scss.utils.scss" as utils;

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--background-input-normal);
  border-radius: var(--measurements-radius-xl);
  border: utils.pxToVW(1px) solid var(--border-action-normal);
  box-shadow: var(--measurements-shadows-xs);

  &:hover {

    border-color: var(--border-action-hover);
    background: var(--background-input-hover);
  }
}

.active,
.active:hover {

  border-color: var(--border-action-focus-light);
  background: var(--background-input-focus);
}

.variant {
  &--destructive {
    border-color: var(--border-action-destructive);

    &:hover {
      border-color: var(--border-action-destructive-hover);
    }

    &.active {
      border-color: var(--border-action-focus-destructive);
    }
  }
}

.disabled,
.disabled:hover {

  border-color: var(--border-action-disabled);
  background: var(--background-input-disabled);
}