.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: var(--numbers-16);
  width: var(--numbers-640);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: var(--numbers-160);
  padding: var(--numbers-24);
  border: var(--numbers-1) dotted var(--border-select-primary);
}

.examples {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-32);
  width: var(--numbers-840);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-16);
}

.section h3 {
  margin: 0;
  color: var(--text-base-primary);
  font-size: var(--typography-size-body-s);
  font-weight: var(--typography-weight-medium);
  line-height: var(--typography-line-height-body-s);
}
