:root {
  --numbers-0_1: 0.1px;
  --numbers-0_2: 0.2px;
  --numbers-0_3: 0.3px;
  --numbers-0_5: 0.5px;
  --numbers-0_6: 0.6px;
  --numbers-1_5: 1.5px;
  --numbers-1_6: 1.6px;
  --numbers-1_7: 1.7px;
  --numbers-2_2: 2.2px;

  --numbers-0: 0;
  --numbers-1: 1px;
  --numbers-2: 2px;
  --numbers-3: 3px;
  --numbers-4: 4px;
  --numbers-5: 5px;
  --numbers-6: 6px;
  --numbers-7: 7px;
  --numbers-8: 8px;
  --numbers-9: 9px;
  --numbers-10: 10px;
  --numbers-11: 11px;
  --numbers-12: 12px;
  --numbers-13: 13px;
  --numbers-14: 14px;
  --numbers-15: 15px;
  --numbers-16: 16px;
  --numbers-17: 17px;
  --numbers-18: 18px;
  --numbers-19: 19px;
  --numbers-20: 20px;
  --numbers-21: 21px;
  --numbers-22: 22px;
  --numbers-23: 23px;
  --numbers-24: 24px;
  --numbers-25: 25px;
  --numbers-26: 26px;
  --numbers-27: 27px;
  --numbers-28: 28px;
  --numbers-29: 29px;
  --numbers-30: 30px;
  --numbers-31: 31px;
  --numbers-32: 32px;
  --numbers-33: 33px;
  --numbers-34: 34px;
  --numbers-35: 35px;
  --numbers-36: 36px;
  --numbers-37: 37px;
  --numbers-38: 38px;
  --numbers-39: 39px;
  --numbers-40: 40px;
  --numbers-41: 41px;
  --numbers-42: 42px;
  --numbers-43: 43px;
  --numbers-44: 44px;
  --numbers-45: 45px;
  --numbers-46: 46px;
  --numbers-47: 47px;
  --numbers-48: 48px;
  --numbers-49: 49px;
  --numbers-50: 50px;
  --numbers-51: 51px;
  --numbers-52: 52px;
  --numbers-53: 53px;
  --numbers-54: 54px;
  --numbers-55: 55px;
  --numbers-56: 56px;
  --numbers-57: 57px;
  --numbers-58: 58px;
  --numbers-59: 59px;
  --numbers-60: 60px;
  --numbers-61: 61px;
  --numbers-62: 62px;
  --numbers-63: 63px;
  --numbers-64: 64px;
  --numbers-65: 65px;
  --numbers-66: 66px;
  --numbers-67: 67px;
  --numbers-68: 68px;
  --numbers-69: 69px;
  --numbers-70: 70px;
  --numbers-71: 71px;
  --numbers-72: 72px;
  --numbers-73: 73px;
  --numbers-74: 74px;
  --numbers-75: 75px;
  --numbers-76: 76px;
  --numbers-77: 77px;
  --numbers-78: 78px;
  --numbers-79: 79px;
  --numbers-80: 80px;
  --numbers-81: 81px;
  --numbers-82: 82px;
  --numbers-83: 83px;
  --numbers-84: 84px;
  --numbers-85: 85px;
  --numbers-86: 86px;
  --numbers-87: 87px;
  --numbers-88: 88px;
  --numbers-89: 89px;
  --numbers-90: 90px;
  --numbers-91: 91px;
  --numbers-92: 92px;
  --numbers-93: 93px;
  --numbers-94: 94px;
  --numbers-95: 95px;
  --numbers-96: 96px;
  --numbers-97: 97px;
  --numbers-98: 98px;
  --numbers-99: 99px;
  --numbers-100: 100px;
  --numbers-101: 101px;
  --numbers-102: 102px;
  --numbers-103: 103px;
  --numbers-104: 104px;
  --numbers-105: 105px;
  --numbers-106: 106px;
  --numbers-107: 107px;
  --numbers-108: 108px;
  --numbers-109: 109px;
  --numbers-110: 110px;
  --numbers-111: 111px;
  --numbers-112: 112px;
  --numbers-113: 113px;
  --numbers-114: 114px;
  --numbers-115: 115px;
  --numbers-116: 116px;
  --numbers-117: 117px;
  --numbers-118: 118px;
  --numbers-119: 119px;
  --numbers-120: 120px;
  --numbers-121: 121px;
  --numbers-122: 122px;
  --numbers-123: 123px;
  --numbers-124: 124px;
  --numbers-125: 125px;
  --numbers-126: 126px;
  --numbers-127: 127px;
  --numbers-128: 128px;
  --numbers-129: 129px;
  --numbers-130: 130px;
  --numbers-131: 131px;
  --numbers-132: 132px;
  --numbers-133: 133px;
  --numbers-134: 134px;
  --numbers-135: 135px;
  --numbers-136: 136px;
  --numbers-137: 137px;
  --numbers-138: 138px;
  --numbers-139: 139px;
  --numbers-140: 140px;
  --numbers-141: 141px;
  --numbers-142: 142px;
  --numbers-143: 143px;
  --numbers-144: 144px;
  --numbers-145: 145px;
  --numbers-146: 146px;
  --numbers-147: 147px;
  --numbers-148: 148px;
  --numbers-149: 149px;
  --numbers-150: 150px;
  --numbers-151: 151px;
  --numbers-152: 152px;
  --numbers-153: 153px;
  --numbers-154: 154px;
  --numbers-155: 155px;
  --numbers-156: 156px;
  --numbers-157: 157px;
  --numbers-158: 158px;
  --numbers-159: 159px;
  --numbers-160: 160px;
  --numbers-161: 161px;
  --numbers-162: 162px;
  --numbers-163: 163px;
  --numbers-164: 164px;
  --numbers-165: 165px;
  --numbers-166: 166px;
  --numbers-167: 167px;
  --numbers-168: 168px;
  --numbers-169: 169px;
  --numbers-170: 170px;
  --numbers-171: 171px;
  --numbers-172: 172px;
  --numbers-173: 173px;
  --numbers-174: 174px;
  --numbers-175: 175px;
  --numbers-176: 176px;
  --numbers-177: 177px;
  --numbers-178: 178px;
  --numbers-179: 179px;
  --numbers-180: 180px;
  --numbers-181: 181px;
  --numbers-182: 182px;
  --numbers-183: 183px;
  --numbers-184: 184px;
  --numbers-185: 185px;
  --numbers-186: 186px;
  --numbers-187: 187px;
  --numbers-188: 188px;
  --numbers-189: 189px;
  --numbers-190: 190px;
  --numbers-191: 191px;
  --numbers-192: 192px;
  --numbers-193: 193px;
  --numbers-194: 194px;
  --numbers-195: 195px;
  --numbers-196: 196px;
  --numbers-197: 197px;
  --numbers-198: 198px;
  --numbers-199: 199px;
  --numbers-200: 200px;
  --numbers-201: 201px;
  --numbers-202: 202px;
  --numbers-203: 203px;
  --numbers-204: 204px;
  --numbers-205: 205px;
  --numbers-206: 206px;
  --numbers-207: 207px;
  --numbers-208: 208px;
  --numbers-209: 209px;
  --numbers-210: 210px;
  --numbers-211: 211px;
  --numbers-212: 212px;
  --numbers-213: 213px;
  --numbers-214: 214px;
  --numbers-215: 215px;
  --numbers-216: 216px;
  --numbers-217: 217px;
  --numbers-218: 218px;
  --numbers-219: 219px;
  --numbers-220: 220px;
  --numbers-221: 221px;
  --numbers-222: 222px;
  --numbers-223: 223px;
  --numbers-224: 224px;
  --numbers-225: 225px;
  --numbers-226: 226px;
  --numbers-227: 227px;
  --numbers-228: 228px;
  --numbers-229: 229px;
  --numbers-230: 230px;
  --numbers-231: 231px;
  --numbers-232: 232px;
  --numbers-233: 233px;
  --numbers-234: 234px;
  --numbers-235: 235px;
  --numbers-236: 236px;
  --numbers-237: 237px;
  --numbers-238: 238px;
  --numbers-239: 239px;
  --numbers-240: 240px;
  --numbers-241: 241px;
  --numbers-242: 242px;
  --numbers-243: 243px;
  --numbers-244: 244px;
  --numbers-245: 245px;
  --numbers-246: 246px;
  --numbers-247: 247px;
  --numbers-248: 248px;
  --numbers-249: 249px;
  --numbers-250: 250px;
  --numbers-251: 251px;
  --numbers-252: 252px;
  --numbers-253: 253px;
  --numbers-254: 254px;
  --numbers-255: 255px;
  --numbers-256: 256px;
  --numbers-257: 257px;
  --numbers-258: 258px;
  --numbers-259: 259px;
  --numbers-260: 260px;
  --numbers-261: 261px;
  --numbers-262: 262px;
  --numbers-263: 263px;
  --numbers-264: 264px;
  --numbers-265: 265px;
  --numbers-266: 266px;
  --numbers-267: 267px;
  --numbers-268: 268px;
  --numbers-269: 269px;
  --numbers-270: 270px;
  --numbers-271: 271px;
  --numbers-272: 272px;
  --numbers-273: 273px;
  --numbers-274: 274px;
  --numbers-275: 275px;
  --numbers-276: 276px;
  --numbers-277: 277px;
  --numbers-278: 278px;
  --numbers-279: 279px;
  --numbers-280: 280px;
  --numbers-281: 281px;
  --numbers-282: 282px;
  --numbers-283: 283px;
  --numbers-284: 284px;
  --numbers-285: 285px;
  --numbers-286: 286px;
  --numbers-287: 287px;
  --numbers-288: 288px;
  --numbers-289: 289px;
  --numbers-290: 290px;
  --numbers-291: 291px;
  --numbers-292: 292px;
  --numbers-293: 293px;
  --numbers-294: 294px;
  --numbers-295: 295px;
  --numbers-296: 296px;
  --numbers-297: 297px;
  --numbers-298: 298px;
  --numbers-299: 299px;
  --numbers-300: 300px;
  --numbers-301: 301px;
  --numbers-302: 302px;
  --numbers-303: 303px;
  --numbers-304: 304px;
  --numbers-305: 305px;
  --numbers-306: 306px;
  --numbers-307: 307px;
  --numbers-308: 308px;
  --numbers-309: 309px;
  --numbers-310: 310px;
  --numbers-311: 311px;
  --numbers-312: 312px;
  --numbers-313: 313px;
  --numbers-314: 314px;
  --numbers-315: 315px;
  --numbers-316: 316px;
  --numbers-317: 317px;
  --numbers-318: 318px;
  --numbers-319: 319px;
  --numbers-320: 320px;
  --numbers-321: 321px;
  --numbers-322: 322px;
  --numbers-323: 323px;
  --numbers-324: 324px;
  --numbers-325: 325px;
  --numbers-326: 326px;
  --numbers-327: 327px;
  --numbers-328: 328px;
  --numbers-329: 329px;
  --numbers-330: 330px;
  --numbers-331: 331px;
  --numbers-332: 332px;
  --numbers-333: 333px;
  --numbers-334: 334px;
  --numbers-335: 335px;
  --numbers-336: 336px;
  --numbers-337: 337px;
  --numbers-338: 338px;
  --numbers-339: 339px;
  --numbers-340: 340px;
  --numbers-341: 341px;
  --numbers-342: 342px;
  --numbers-343: 343px;
  --numbers-344: 344px;
  --numbers-345: 345px;
  --numbers-346: 346px;
  --numbers-347: 347px;
  --numbers-348: 348px;
  --numbers-349: 349px;
  --numbers-350: 350px;
  --numbers-351: 351px;
  --numbers-352: 352px;
  --numbers-353: 353px;
  --numbers-354: 354px;
  --numbers-355: 355px;
  --numbers-356: 356px;
  --numbers-357: 357px;
  --numbers-358: 358px;
  --numbers-359: 359px;
  --numbers-360: 360px;
  --numbers-361: 361px;
  --numbers-362: 362px;
  --numbers-363: 363px;
  --numbers-364: 364px;
  --numbers-365: 365px;
  --numbers-366: 366px;
  --numbers-367: 367px;
  --numbers-368: 368px;
  --numbers-369: 369px;
  --numbers-370: 370px;
  --numbers-371: 371px;
  --numbers-372: 372px;
  --numbers-373: 373px;
  --numbers-374: 374px;
  --numbers-375: 375px;
  --numbers-376: 376px;
  --numbers-377: 377px;
  --numbers-378: 378px;
  --numbers-379: 379px;
  --numbers-380: 380px;
  --numbers-381: 381px;
  --numbers-382: 382px;
  --numbers-383: 383px;
  --numbers-384: 384px;
  --numbers-385: 385px;
  --numbers-386: 386px;
  --numbers-387: 387px;
  --numbers-388: 388px;
  --numbers-389: 389px;
  --numbers-390: 390px;
  --numbers-391: 391px;
  --numbers-392: 392px;
  --numbers-393: 393px;
  --numbers-394: 394px;
  --numbers-395: 395px;
  --numbers-396: 396px;
  --numbers-397: 397px;
  --numbers-398: 398px;
  --numbers-399: 399px;
  --numbers-400: 400px;
  --numbers-401: 401px;
  --numbers-402: 402px;
  --numbers-403: 403px;
  --numbers-404: 404px;
  --numbers-405: 405px;
  --numbers-406: 406px;
  --numbers-407: 407px;
  --numbers-408: 408px;
  --numbers-409: 409px;
  --numbers-410: 410px;
  --numbers-411: 411px;
  --numbers-412: 412px;
  --numbers-413: 413px;
  --numbers-414: 414px;
  --numbers-415: 415px;
  --numbers-416: 416px;
  --numbers-417: 417px;
  --numbers-418: 418px;
  --numbers-419: 419px;
  --numbers-420: 420px;
  --numbers-421: 421px;
  --numbers-422: 422px;
  --numbers-423: 423px;
  --numbers-424: 424px;
  --numbers-425: 425px;
  --numbers-426: 426px;
  --numbers-427: 427px;
  --numbers-428: 428px;
  --numbers-429: 429px;
  --numbers-430: 430px;
  --numbers-431: 431px;
  --numbers-432: 432px;
  --numbers-433: 433px;
  --numbers-434: 434px;
  --numbers-435: 435px;
  --numbers-436: 436px;
  --numbers-437: 437px;
  --numbers-438: 438px;
  --numbers-439: 439px;
  --numbers-440: 440px;
  --numbers-441: 441px;
  --numbers-442: 442px;
  --numbers-443: 443px;
  --numbers-444: 444px;
  --numbers-445: 445px;
  --numbers-446: 446px;
  --numbers-447: 447px;
  --numbers-448: 448px;
  --numbers-449: 449px;
  --numbers-450: 450px;
  --numbers-451: 451px;
  --numbers-452: 452px;
  --numbers-453: 453px;
  --numbers-454: 454px;
  --numbers-455: 455px;
  --numbers-456: 456px;
  --numbers-457: 457px;
  --numbers-458: 458px;
  --numbers-459: 459px;
  --numbers-460: 460px;
  --numbers-461: 461px;
  --numbers-462: 462px;
  --numbers-463: 463px;
  --numbers-464: 464px;
  --numbers-465: 465px;
  --numbers-466: 466px;
  --numbers-467: 467px;
  --numbers-468: 468px;
  --numbers-469: 469px;
  --numbers-470: 470px;
  --numbers-471: 471px;
  --numbers-472: 472px;
  --numbers-473: 473px;
  --numbers-474: 474px;
  --numbers-475: 475px;
  --numbers-476: 476px;
  --numbers-477: 477px;
  --numbers-478: 478px;
  --numbers-479: 479px;
  --numbers-480: 480px;
  --numbers-481: 481px;
  --numbers-482: 482px;
  --numbers-483: 483px;
  --numbers-484: 484px;
  --numbers-485: 485px;
  --numbers-486: 486px;
  --numbers-487: 487px;
  --numbers-488: 488px;
  --numbers-489: 489px;
  --numbers-490: 490px;
  --numbers-491: 491px;
  --numbers-492: 492px;
  --numbers-493: 493px;
  --numbers-494: 494px;
  --numbers-495: 495px;
  --numbers-496: 496px;
  --numbers-497: 497px;
  --numbers-498: 498px;
  --numbers-499: 499px;
  --numbers-500: 500px;
  --numbers-501: 501px;
  --numbers-502: 502px;
  --numbers-503: 503px;
  --numbers-504: 504px;
  --numbers-505: 505px;
  --numbers-506: 506px;
  --numbers-507: 507px;
  --numbers-508: 508px;
  --numbers-509: 509px;
  --numbers-510: 510px;
  --numbers-511: 511px;
  --numbers-512: 512px;
  --numbers-513: 513px;
  --numbers-514: 514px;
  --numbers-515: 515px;
  --numbers-516: 516px;
  --numbers-517: 517px;
  --numbers-518: 518px;
  --numbers-519: 519px;
  --numbers-520: 520px;
  --numbers-521: 521px;
  --numbers-522: 522px;
  --numbers-523: 523px;
  --numbers-524: 524px;
  --numbers-525: 525px;
  --numbers-526: 526px;
  --numbers-527: 527px;
  --numbers-528: 528px;
  --numbers-529: 529px;
  --numbers-530: 530px;
  --numbers-531: 531px;
  --numbers-532: 532px;
  --numbers-533: 533px;
  --numbers-534: 534px;
  --numbers-535: 535px;
  --numbers-536: 536px;
  --numbers-537: 537px;
  --numbers-538: 538px;
  --numbers-539: 539px;
  --numbers-540: 540px;
  --numbers-541: 541px;
  --numbers-542: 542px;
  --numbers-543: 543px;
  --numbers-544: 544px;
  --numbers-545: 545px;
  --numbers-546: 546px;
  --numbers-547: 547px;
  --numbers-548: 548px;
  --numbers-549: 549px;
  --numbers-550: 550px;
  --numbers-551: 551px;
  --numbers-552: 552px;
  --numbers-553: 553px;
  --numbers-554: 554px;
  --numbers-555: 555px;
  --numbers-556: 556px;
  --numbers-557: 557px;
  --numbers-558: 558px;
  --numbers-559: 559px;
  --numbers-560: 560px;
  --numbers-561: 561px;
  --numbers-562: 562px;
  --numbers-563: 563px;
  --numbers-564: 564px;
  --numbers-565: 565px;
  --numbers-566: 566px;
  --numbers-567: 567px;
  --numbers-568: 568px;
  --numbers-569: 569px;
  --numbers-570: 570px;
  --numbers-571: 571px;
  --numbers-572: 572px;
  --numbers-573: 573px;
  --numbers-574: 574px;
  --numbers-575: 575px;
  --numbers-576: 576px;
  --numbers-577: 577px;
  --numbers-578: 578px;
  --numbers-579: 579px;
  --numbers-580: 580px;
  --numbers-581: 581px;
  --numbers-582: 582px;
  --numbers-583: 583px;
  --numbers-584: 584px;
  --numbers-585: 585px;
  --numbers-586: 586px;
  --numbers-587: 587px;
  --numbers-588: 588px;
  --numbers-589: 589px;
  --numbers-590: 590px;
  --numbers-591: 591px;
  --numbers-592: 592px;
  --numbers-593: 593px;
  --numbers-594: 594px;
  --numbers-595: 595px;
  --numbers-596: 596px;
  --numbers-597: 597px;
  --numbers-598: 598px;
  --numbers-599: 599px;
  --numbers-600: 600px;
  --numbers-601: 601px;
  --numbers-602: 602px;
  --numbers-603: 603px;
  --numbers-604: 604px;
  --numbers-605: 605px;
  --numbers-606: 606px;
  --numbers-607: 607px;
  --numbers-608: 608px;
  --numbers-609: 609px;
  --numbers-610: 610px;
  --numbers-611: 611px;
  --numbers-612: 612px;
  --numbers-613: 613px;
  --numbers-614: 614px;
  --numbers-615: 615px;
  --numbers-616: 616px;
  --numbers-617: 617px;
  --numbers-618: 618px;
  --numbers-619: 619px;
  --numbers-620: 620px;
  --numbers-621: 621px;
  --numbers-622: 622px;
  --numbers-623: 623px;
  --numbers-624: 624px;
  --numbers-625: 625px;
  --numbers-626: 626px;
  --numbers-627: 627px;
  --numbers-628: 628px;
  --numbers-629: 629px;
  --numbers-630: 630px;
  --numbers-631: 631px;
  --numbers-632: 632px;
  --numbers-633: 633px;
  --numbers-634: 634px;
  --numbers-635: 635px;
  --numbers-636: 636px;
  --numbers-637: 637px;
  --numbers-638: 638px;
  --numbers-639: 639px;
  --numbers-640: 640px;
  --numbers-641: 641px;
  --numbers-642: 642px;
  --numbers-643: 643px;
  --numbers-644: 644px;
  --numbers-645: 645px;
  --numbers-646: 646px;
  --numbers-647: 647px;
  --numbers-648: 648px;
  --numbers-649: 649px;
  --numbers-650: 650px;
  --numbers-651: 651px;
  --numbers-652: 652px;
  --numbers-653: 653px;
  --numbers-654: 654px;
  --numbers-655: 655px;
  --numbers-656: 656px;
  --numbers-657: 657px;
  --numbers-658: 658px;
  --numbers-659: 659px;
  --numbers-660: 660px;
  --numbers-661: 661px;
  --numbers-662: 662px;
  --numbers-663: 663px;
  --numbers-664: 664px;
  --numbers-665: 665px;
  --numbers-666: 666px;
  --numbers-667: 667px;
  --numbers-668: 668px;
  --numbers-669: 669px;
  --numbers-670: 670px;
  --numbers-671: 671px;
  --numbers-672: 672px;
  --numbers-673: 673px;
  --numbers-674: 674px;
  --numbers-675: 675px;
  --numbers-676: 676px;
  --numbers-677: 677px;
  --numbers-678: 678px;
  --numbers-679: 679px;
  --numbers-680: 680px;
  --numbers-681: 681px;
  --numbers-682: 682px;
  --numbers-683: 683px;
  --numbers-684: 684px;
  --numbers-685: 685px;
  --numbers-686: 686px;
  --numbers-687: 687px;
  --numbers-688: 688px;
  --numbers-689: 689px;
  --numbers-690: 690px;
  --numbers-691: 691px;
  --numbers-692: 692px;
  --numbers-693: 693px;
  --numbers-694: 694px;
  --numbers-695: 695px;
  --numbers-696: 696px;
  --numbers-697: 697px;
  --numbers-698: 698px;
  --numbers-699: 699px;
  --numbers-700: 700px;
  --numbers-701: 701px;
  --numbers-702: 702px;
  --numbers-703: 703px;
  --numbers-704: 704px;
  --numbers-705: 705px;
  --numbers-706: 706px;
  --numbers-707: 707px;
  --numbers-708: 708px;
  --numbers-709: 709px;
  --numbers-710: 710px;
  --numbers-711: 711px;
  --numbers-712: 712px;
  --numbers-713: 713px;
  --numbers-714: 714px;
  --numbers-715: 715px;
  --numbers-716: 716px;
  --numbers-717: 717px;
  --numbers-718: 718px;
  --numbers-719: 719px;
  --numbers-720: 720px;
  --numbers-721: 721px;
  --numbers-722: 722px;
  --numbers-723: 723px;
  --numbers-724: 724px;
  --numbers-725: 725px;
  --numbers-726: 726px;
  --numbers-727: 727px;
  --numbers-728: 728px;
  --numbers-729: 729px;
  --numbers-730: 730px;
  --numbers-731: 731px;
  --numbers-732: 732px;
  --numbers-733: 733px;
  --numbers-734: 734px;
  --numbers-735: 735px;
  --numbers-736: 736px;
  --numbers-737: 737px;
  --numbers-738: 738px;
  --numbers-739: 739px;
  --numbers-740: 740px;
  --numbers-741: 741px;
  --numbers-742: 742px;
  --numbers-743: 743px;
  --numbers-744: 744px;
  --numbers-745: 745px;
  --numbers-746: 746px;
  --numbers-747: 747px;
  --numbers-748: 748px;
  --numbers-749: 749px;
  --numbers-750: 750px;
  --numbers-751: 751px;
  --numbers-752: 752px;
  --numbers-753: 753px;
  --numbers-754: 754px;
  --numbers-755: 755px;
  --numbers-756: 756px;
  --numbers-757: 757px;
  --numbers-758: 758px;
  --numbers-759: 759px;
  --numbers-760: 760px;
  --numbers-761: 761px;
  --numbers-762: 762px;
  --numbers-763: 763px;
  --numbers-764: 764px;
  --numbers-765: 765px;
  --numbers-766: 766px;
  --numbers-767: 767px;
  --numbers-768: 768px;
  --numbers-769: 769px;
  --numbers-770: 770px;
  --numbers-771: 771px;
  --numbers-772: 772px;
  --numbers-773: 773px;
  --numbers-774: 774px;
  --numbers-775: 775px;
  --numbers-776: 776px;
  --numbers-777: 777px;
  --numbers-778: 778px;
  --numbers-779: 779px;
  --numbers-780: 780px;
  --numbers-781: 781px;
  --numbers-782: 782px;
  --numbers-783: 783px;
  --numbers-784: 784px;
  --numbers-785: 785px;
  --numbers-786: 786px;
  --numbers-787: 787px;
  --numbers-788: 788px;
  --numbers-789: 789px;
  --numbers-790: 790px;
  --numbers-791: 791px;
  --numbers-792: 792px;
  --numbers-793: 793px;
  --numbers-794: 794px;
  --numbers-795: 795px;
  --numbers-796: 796px;
  --numbers-797: 797px;
  --numbers-798: 798px;
  --numbers-799: 799px;
  --numbers-800: 800px;
  --numbers-801: 801px;
  --numbers-802: 802px;
  --numbers-803: 803px;
  --numbers-804: 804px;
  --numbers-805: 805px;
  --numbers-806: 806px;
  --numbers-807: 807px;
  --numbers-808: 808px;
  --numbers-809: 809px;
  --numbers-810: 810px;
  --numbers-811: 811px;
  --numbers-812: 812px;
  --numbers-813: 813px;
  --numbers-814: 814px;
  --numbers-815: 815px;
  --numbers-816: 816px;
  --numbers-817: 817px;
  --numbers-818: 818px;
  --numbers-819: 819px;
  --numbers-820: 820px;
  --numbers-821: 821px;
  --numbers-822: 822px;
  --numbers-823: 823px;
  --numbers-824: 824px;
  --numbers-825: 825px;
  --numbers-826: 826px;
  --numbers-827: 827px;
  --numbers-828: 828px;
  --numbers-829: 829px;
  --numbers-830: 830px;
  --numbers-831: 831px;
  --numbers-832: 832px;
  --numbers-833: 833px;
  --numbers-834: 834px;
  --numbers-835: 835px;
  --numbers-836: 836px;
  --numbers-837: 837px;
  --numbers-838: 838px;
  --numbers-839: 839px;
  --numbers-840: 840px;
  --numbers-841: 841px;
  --numbers-842: 842px;
  --numbers-843: 843px;
  --numbers-844: 844px;
  --numbers-845: 845px;
  --numbers-846: 846px;
  --numbers-847: 847px;
  --numbers-848: 848px;
  --numbers-849: 849px;
  --numbers-850: 850px;
  --numbers-851: 851px;
  --numbers-852: 852px;
  --numbers-853: 853px;
  --numbers-854: 854px;
  --numbers-855: 855px;
  --numbers-856: 856px;
  --numbers-857: 857px;
  --numbers-858: 858px;
  --numbers-859: 859px;
  --numbers-860: 860px;
  --numbers-861: 861px;
  --numbers-862: 862px;
  --numbers-863: 863px;
  --numbers-864: 864px;
  --numbers-865: 865px;
  --numbers-866: 866px;
  --numbers-867: 867px;
  --numbers-868: 868px;
  --numbers-869: 869px;
  --numbers-870: 870px;
  --numbers-871: 871px;
  --numbers-872: 872px;
  --numbers-873: 873px;
  --numbers-874: 874px;
  --numbers-875: 875px;
  --numbers-876: 876px;
  --numbers-877: 877px;
  --numbers-878: 878px;
  --numbers-879: 879px;
  --numbers-880: 880px;
  --numbers-881: 881px;
  --numbers-882: 882px;
  --numbers-883: 883px;
  --numbers-884: 884px;
  --numbers-885: 885px;
  --numbers-886: 886px;
  --numbers-887: 887px;
  --numbers-888: 888px;
  --numbers-889: 889px;
  --numbers-890: 890px;
  --numbers-891: 891px;
  --numbers-892: 892px;
  --numbers-893: 893px;
  --numbers-894: 894px;
  --numbers-895: 895px;
  --numbers-896: 896px;
  --numbers-897: 897px;
  --numbers-898: 898px;
  --numbers-899: 899px;
  --numbers-900: 900px;
  --numbers-999: 999px;
  --numbers-1024: 1024px;
  --numbers-1440: 1440px;
}
