@use './utils/view-port.utils.scss' as utils;

$viewport-mobile-width: 420px;

:root {
  @media (max-width: 726px) {
    --numbers-0_1: #{utils.pxToVW(0.1px, $viewport-mobile-width)};
    --numbers-0_2: #{utils.pxToVW(0.2px, $viewport-mobile-width)};
    --numbers-0_3: #{utils.pxToVW(0.3px, $viewport-mobile-width)};
    --numbers-0_5: #{utils.pxToVW(0.5px, $viewport-mobile-width)};
    --numbers-0_6: #{utils.pxToVW(0.6px, $viewport-mobile-width)};
    --numbers-1_5: #{utils.pxToVW(1.5px, $viewport-mobile-width)};
    --numbers-1_6: #{utils.pxToVW(1.6px, $viewport-mobile-width)};
    --numbers-1_7: #{utils.pxToVW(1.7px, $viewport-mobile-width)};
    --numbers-2_2: #{utils.pxToVW(2.2px, $viewport-mobile-width)};

    @for $i from 0 through 1440 {
      --numbers-#{$i}: #{utils.pxToVW($i * 1px, $viewport-mobile-width)};
    }
  }
}
