:root {
  --numbers-0_1: 0.1px;
  --numbers-0_2: 0.2px;
  --numbers-0_3: 0.3px;
  --numbers-0_5: 0.5px;
  --numbers-0_6: 0.6px;
  --numbers-1_5: 1.5px;
  --numbers-1_6: 1.6px;
  --numbers-1_7: 1.7px;
  --numbers-2_2: 2.2px;

  @for $i from 0 through 3000 {
    --numbers-#{$i}: #{$i}px;
  }
}
