.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.input {

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border-radius: var(--measurements-radius-full);
  background: var(--background-toggle-default);

  &:hover {
    background: var(--background-toggle-hover);
  }
}

.icon:before {

  display: block;
  content: '';
  border-radius: var(--measurements-radius-full);
  background: var(--background-toggle-handle);
  box-shadow: var(--measurements-shadows-xs);
}

.input:checked + .icon:hover {
  background: var(--background-toggle-active-hover);
}

.input:checked + .icon {

  padding: var(--numbers-2) var(--numbers-2) var(--numbers-2) var(--numbers-16);
  background: var(--background-toggle-active);
}

.input:disabled + .icon,
.input:disabled:hover + .icon {
  background: var(--background-toggle-disabled);
}

.input:disabled + .icon:before,
.input:disabled:hover + .icon:before {
  background: var(--background-toggle-handle-disabled);
  box-shadow: none;
}

.input:disabled:checked + .icon,
.input:disabled:checked:hover + .icon {
  background: var(--background-toggle-active-disabled);
}

.input:disabled:checked + .icon:before,
.input:disabled:checked:hover + .icon:before {
  background: var(--background-toggle-handle);
  box-shadow: none;
}

.size {
  &--md:before {
    width: var(--numbers-16);
    height: var(--numbers-16);
  }

  &--sm:before {
    width: var(--numbers-12);
    height: var(--numbers-12);
  }
}

.input:not(:checked) + .icon.size--md { padding: var(--numbers-2) var(--numbers-16) var(--numbers-2) var(--numbers-2); }
.input:checked + .icon.size--md { padding: var(--numbers-2) var(--numbers-2) var(--numbers-2) var(--numbers-16); }

.input:not(:checked) + .icon.size--sm { padding: var(--numbers-2) var(--numbers-14) var(--numbers-2) var(--numbers-2); }
.input:checked + .icon.size--sm { padding: var(--numbers-2) var(--numbers-2) var(--numbers-2) var(--numbers-14); }