.title {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  gap: var(--numbers-12);
  align-items: center;
  padding: 0 var(--numbers-12);
  background: var(--background-surface-neutral);
  border-bottom: var(--numbers-1) solid var(--border-base-divider);
  z-index: 0;
}

.cellContent {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: flex-start;
  justify-content: center;
  min-height: var(--numbers-36);
  color: var(--text-primary);
}

.align {
  &--right {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }
}

.hovered {
  cursor: pointer;
}

.collapse {
  padding: 0;
}

.label {
  color: var(--text-base-primary);
}
