.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: var(--numbers-6);
  border-radius: var(--measurements-radius-sm);
  background: var(--background-overlay-normal);
  overflow: auto;
}

.active {

  background: var(--background-overlay-hover);
}

.lead-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  font-size: var(--numbers-16);
  margin-right: var(--numbers-4);
  color: var(--icon-base-secondary);
}

.label {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--text-base-primary);
  overflow: auto;
}

.text {

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.badge {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  padding: 0 var(--numbers-2);
  margin: 0 0 0 var(--numbers-4);
}

.toggle {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  padding: 0 var(--numbers-2);
  margin: 0 0 0 var(--numbers-4);
}
