:root {
  --colors-blue-1: #f0f4fe;
  --colors-blue-2: #e3eafd;
  --colors-blue-3: #ccd9fa;
  --colors-blue-4: #b4c7f8;
  --colors-blue-5: #93aff6;
  --colors-blue-6: #7196f4;
  --colors-blue-7: #5984f2;
  --colors-blue-8: #4778f5;
  --colors-blue-9: #1d54e2;
  --colors-blue-10: #1a4ac7;
  --colors-blue-11: #133a9a;
  --colors-blue-12: #07296a;
  --colors-blue-13: #03153a;

  --colors-blue-1a: rgba(51, 104, 240, 0.1);
  --colors-blue-2a: rgba(51, 104, 240, 0.15);
  --colors-blue-3a: rgba(51, 104, 240, 0.2);
  --colors-blue-4a: rgba(51, 104, 240, 0.25);
  --colors-blue-5a: rgba(51, 104, 240, 0.3);
  --colors-blue-6a: rgba(51, 104, 240, 0.4);
  --colors-blue-7a: rgba(51, 104, 240, 0.5);
  --colors-blue-8a: rgba(51, 104, 240, 0.6);
  --colors-blue-9a: rgba(51, 104, 240, 0.7);
  --colors-blue-10a: rgba(51, 104, 240, 0.8);
  --colors-blue-11a: rgba(51, 104, 240, 0.9);
}
