:root {

  --colors-blue-1: #F0F4FE;
  --colors-blue-2: #E3EAFD;
  --colors-blue-3: #CCD9FA;
  --colors-blue-4: #B4C7F8;
  --colors-blue-5: #93AFF6;
  --colors-blue-6: #7196F4;
  --colors-blue-7: #5984F2;
  --colors-blue-8: #4778F5;
  --colors-blue-9: #1D54E2;
  --colors-blue-10: #1A4AC7;
  --colors-blue-11: #133A9A;
  --colors-blue-12: #07296A;
  --colors-blue-13: #03153A;

  --colors-blue-1a: rgba(51, 104, 240, .1);
  --colors-blue-2a: rgba(51, 104, 240, .15);
  --colors-blue-3a: rgba(51, 104, 240, .2);
  --colors-blue-4a: rgba(51, 104, 240, .25);
  --colors-blue-5a: rgba(51, 104, 240, .3);
  --colors-blue-6a: rgba(51, 104, 240, .4);
  --colors-blue-7a: rgba(51, 104, 240, .5);
  --colors-blue-8a: rgba(51, 104, 240, .6);
  --colors-blue-9a: rgba(51, 104, 240, .7);
  --colors-blue-10a: rgba(51, 104, 240, .8);
  --colors-blue-11a: rgba(51, 104, 240, .9);
}