:root {
  --additional-tiyn-2: #e3eafd;
  --additional-tiyn-13: #03153a;
  --additional-tiyn-8: #4778f5;
  --additional-tiyn-7: #5984f2;
  --additional-tiyn-5a: rgba(51, 104, 240, 0.3);
  --additional-tiyn-1: #f0f4fe;
  --additional-tiyn-3a: rgba(51, 104, 240, 0.2);
  --additional-tiyn-4: #b4c7f8;
  --additional-tiyn-9: #1d54e2;
  --additional-tiyn-7a: rgba(51, 104, 240, 0.5);
  --additional-tiyn-5: #93aff6;
  --additional-tiyn-11: #133a9a;
  --additional-tiyn-8a: rgba(51, 104, 240, 0.6);
}
