:root {
  --colors-green-1: #edfdf4;
  --colors-green-2: #d1fae4;
  --colors-green-3: #c3f8dc;
  --colors-green-4: #9af4c3;
  --colors-green-5: #8ce8b6;
  --colors-green-6: #6ae1a1;
  --colors-green-7: #40d986;
  --colors-green-8: #26bd6c;
  --colors-green-9: #21a65e;
  --colors-green-10: #1d9052;
  --colors-green-11: #166e3f;
  --colors-green-12: #0f4c2c;
  --colors-green-13: #072213;

  --colors-green-1a: rgba(38, 189, 108, 10%);
  --colors-green-2a: rgba(38, 189, 108, 15%);
  --colors-green-3a: rgba(38, 189, 108, 20%);
  --colors-green-4a: rgba(38, 189, 108, 25%);
  --colors-green-5a: rgba(38, 189, 108, 30%);
  --colors-green-6a: rgba(38, 189, 108, 40%);
  --colors-green-7a: rgba(38, 189, 108, 50%);
  --colors-green-8a: rgba(38, 189, 108, 60%);
  --colors-green-9a: rgba(38, 189, 108, 70%);
  --colors-green-10a: rgba(38, 189, 108, 80%);
  --colors-green-11a: rgba(38, 189, 108, 90%);
}
