:root {
  --colors-orange-1: #fef4ec;
  --colors-orange-2: #fdead8;
  --colors-orange-3: #fcddc0;
  --colors-orange-4: #fad0a9;
  --colors-orange-5: #f9c594;
  --colors-orange-6: #f8b577;
  --colors-orange-7: #f6a355;
  --colors-orange-8: #f48e2f;
  --colors-orange-9: #e9760c;
  --colors-orange-10: #d56c0b;
  --colors-orange-11: #ae590a;
  --colors-orange-12: #613105;
  --colors-orange-13: #301903;

  --colors-orange-1a: rgba(244, 142, 47, 10%);
  --colors-orange-2a: rgba(244, 142, 47, 15%);
  --colors-orange-3a: rgba(244, 142, 47, 20%);
  --colors-orange-4a: rgba(244, 142, 47, 25%);
  --colors-orange-5a: rgba(244, 142, 47, 30%);
  --colors-orange-6a: rgba(244, 142, 47, 40%);
  --colors-orange-7a: rgba(244, 142, 47, 50%);
  --colors-orange-8a: rgba(244, 142, 47, 60%);
  --colors-orange-9a: rgba(244, 142, 47, 70%);
  --colors-orange-10a: rgba(244, 142, 47, 80%);
  --colors-orange-11a: rgba(244, 142, 47, 90%);
}
