.wrapper {

  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.notification {

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  border-radius: var(--measurements-radius-full);
  z-index: 0;
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.status {

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.size {
  &--2xl {
    width: var(--numbers-64);
    height: var(--numbers-64);

    .icon {
      font-size: var(--typography-size-h5);
    }
  }

  &--xl {
    width: var(--numbers-56);
    height: var(--numbers-56);

    .icon {
      font-size: var(--typography-size-h6);
    }
  }

  &--lg {
    width: var(--numbers-48);
    height: var(--numbers-48);

    .icon {
      font-size: var(--typography-size-body-l);
    }
  }

  &--md {
    width: var(--numbers-40);
    height: var(--numbers-40);

    .icon {
      font-size: var(--typography-size-body-m);
    }
  }

  &--sm {
    width: var(--numbers-32);
    height: var(--numbers-32);

    .icon {
      font-size: var(--typography-size-caption-l);
    }
  }

  &--xs {
    width: var(--numbers-20);
    height: var(--numbers-20);

    .icon {
      font-size: var(--typography-size-caption-s);
    }
  }
}

.color {
  &--gray {
    .content {
      background: var(--background-accent-gray-subtle);

      .icon {
        color: var(--icon-base-secondary);
      }
    }
  }

  &--green {
    .content {
      background: var(--background-accent-green-subtle);

      .icon {
        color: var(--icon-accent-green);
      }
    }
  }

  &--blue {
    .content {
      background: var(--background-accent-blue-subtle);

      .icon {
        color: var(--icon-accent-blue);
      }
    }
  }

  &--orange {
    .content {
      background: var(--background-accent-orange-subtle);

      .icon {
        color: var(--icon-accent-orange);
      }
    }
  }

  &--red {
    .content {
      background: var(--background-accent-red-subtle);

      .icon {
        color: var(--icon-accent-red);
      }
    }
  }

  &--purple {
    .content {
      background: var(--background-accent-purple-subtle);

      .icon {
        color: var(--icon-accent-purple);
      }
    }
  }
}