:root {
  --background-chip-primary: var(--colors-base-white);
  --background-chip-primary-hover: var(--colors-gray-1);
  --background-chip-primary--active: var(--colors-base-white);
  --background-chip-primary-disabled: var(--colors-base-white);

  --background-chip-secondary: var(--colors-gray-1a);
  --background-chip-secondary-hover: var(--colors-gray-2a);
  --background-chip-secondary--active: var(--colors-gray-1a);
  --background-chip-secondary-disabled: var(--colors-gray-1a);
}

:root[data-theme="dark"] {

  --background-chip-primary: var(--colors-base-dark-1);
  --background-chip-primary-hover: var(--colors-gray-13);
  --background-chip-primary--active: var(--colors-base-dark-1);
  --background-chip-primary-disabled: var(--colors-base-dark-1);

  --background-chip-secondary: var(--colors-white-1);
  --background-chip-secondary-hover: var(--colors-white-2);
  --background-chip-secondary--active: var(--colors-white-1);
  --background-chip-secondary-disabled: var(--colors-white-1);
}
