:root {
  --background-badge-gray: var(--colors-gray-2);
  --background-badge-gray-disabled: var(--colors-gray-2);
  --background-badge-gray-accent: var(--colors-gray-9);

  --background-badge-blue: var(--colors-blue-2);
  --background-badge-blue-disabled: var(--colors-blue-1);
  --background-badge-blue-accent: var(--colors-blue-8);

  --background-badge-green: var(--colors-green-2);
  --background-badge-green-disabled: var(--colors-green-1);
  --background-badge-green-accent: var(--colors-green-8);

  --background-badge-orange: var(--colors-orange-2);
  --background-badge-orange-disabled: var(--colors-orange-1);
  --background-badge-orange-accent: var(--colors-orange-8);

  --background-badge-red: var(--colors-red-2);
  --background-badge-red-disabled: var(--colors-red-1);
  --background-badge-red-accent: var(--colors-red-8);

  --background-badge-purple: var(--colors-purple-2);
  --background-badge-purple-disabled: var(--colors-purple-1);
  --background-badge-purple-accent: var(--colors-purple-8);

  --background-badge-white: var(--colors-base-white);
  --background-badge-white-disabled: var(--colors-base-white);
  --background-badge-white-accent: var(--colors-base-white);
}

:root[data-theme="dark"] {

  --background-badge-gray: var(--colors-white-3);
  --background-badge-gray-disabled: var(--colors-gray-1);
  --background-badge-gray-accent: var(--colors-gray-7);

  --background-badge-blue: var(--colors-blue-5a);
  --background-badge-blue-disabled: var(--colors-blue-3a);
  --background-badge-blue-accent: var(--colors-blue-8);

  --background-badge-green: var(--colors-green-5a);
  --background-badge-green-disabled: var(--colors-green-3a);
  --background-badge-green-accent: var(--colors-green-8);

  --background-badge-orange: var(--colors-orange-4a);
  --background-badge-orange-disabled: var(--colors-orange-3a);
  --background-badge-orange-accent: var(--colors-orange-8);

  --background-badge-red: var(--colors-red-5a);
  --background-badge-red-disabled: var(--colors-red-3a);
  --background-badge-red-accent: var(--colors-red-8);

  --background-badge-purple: var(--colors-purple-5a);
  --background-badge-purple-disabled: var(--colors-purple-3a);
  --background-badge-purple-accent: var(--colors-purple-8);

  --background-badge-white: var(--colors-base-white);
  --background-badge-white-disabled: var(--colors-white-6);
  --background-badge-white-accent: var(--colors-gray-12);
}