:root {
  --background-accent-gray: var(--colors-gray-1);
  --background-accent-gray-subtle: var(--colors-gray-2);
  --background-accent-gray-accent: var(--colors-gray-8);
  --background-accent-gray-bold: var(--colors-base-dark-1);

  --background-accent-blue: var(--colors-blue-1);
  --background-accent-blue-subtle: var(--colors-blue-2);
  --background-accent-blue-accent: var(--colors-blue-8);

  --background-accent-green: var(--colors-green-1);
  --background-accent-green-subtle: var(--colors-green-2);
  --background-accent-green-accent: var(--colors-green-8);

  --background-accent-orange: var(--colors-orange-1);
  --background-accent-orange-subtle: var(--colors-orange-2);
  --background-accent-orange-accent: var(--colors-orange-8);

  --background-accent-red: var(--colors-red-1);
  --background-accent-red-subtle: var(--colors-red-2);
  --background-accent-red-accent: var(--colors-red-8);

  --background-accent-purple: var(--colors-purple-1);
  --background-accent-purple-subtle: var(--colors-purple-2);
  --background-accent-purple-accent: var(--colors-purple-8);
}

:root[data-theme="dark"] {

  --background-accent-gray: var(--colors-gray-13);
  --background-accent-gray-subtle: var(--colors-gray-12);
  --background-accent-gray-accent: var(--colors-gray-9);
  --background-accent-gray-bold: var(--colors-base-white);

  --background-accent-blue: var(--colors-blue-13);
  --background-accent-blue-subtle: var(--colors-blue-12);
  --background-accent-blue-accent: var(--colors-blue-9);

  --background-accent-green: var(--colors-green-13);
  --background-accent-green-subtle: var(--colors-green-12);
  --background-accent-green-accent: var(--colors-green-9);

  --background-accent-orange: var(--colors-orange-13);
  --background-accent-orange-subtle: var(--colors-orange-12);
  --background-accent-orange-accent: var(--colors-orange-9);

  --background-accent-red: var(--colors-red-13);
  --background-accent-red-subtle: var(--colors-red-12);
  --background-accent-red-accent: var(--colors-red-9);

  --background-accent-purple: var(--colors-purple-13);
  --background-accent-purple-subtle: var(--colors-purple-12);
  --background-accent-purple-accent: var(--colors-purple-9);
}