:root {
  --background-toggle-default: var(--colors-gray-5);
  --background-toggle-hover: var(--colors-gray-6);
  --background-toggle-disabled: var(--colors-gray-2);

  --background-toggle-active: var(--colors-green-8);
  --background-toggle-active-hover: var(--colors-green-9);
  --background-toggle-active-disabled: var(--colors-green-3);

  --background-toggle-handle: var(--colors-base-white);
  --background-toggle-handle-disabled: var(--colors-gray-4);
}

:root[data-theme="dark"] {

  --background-toggle-default: var(--colors-gray-9);
  --background-toggle-hover: var(--colors-gray-6);
  --background-toggle-disabled: var(--colors-gray-12);

  --background-toggle-active: var(--colors-green-8);
  --background-toggle-active-hover: var(--colors-green-9);
  --background-toggle-active-disabled: var(--colors-green-11);

  --background-toggle-handle: var(--colors-base-white);
  --background-toggle-handle-disabled: var(--colors-gray-4);
}
