:root {
  --background-surface-default: var(--colors-base-white);

  --background-surface-inverted: var(--colors-base-dark-1);

  --background-surface-neutral: var(--colors-gray-1);
  --background-surface-neutral-subtle: var(--colors-gray-2);

  --background-surface-destructive: var(--colors-red-1);
  --background-surface-destructive-subtle: var(--colors-red-8);

  --background-surface-warning: var(--colors-orange-1);
  --background-surface-warning-subtle: var(--colors-orange-2);
  --background-surface-warning-accent: var(--colors-orange-8);

  --background-surface-success: var(--colors-green-1);
  --background-surface-success-subtle: var(--colors-green-2);
  --background-surface-success-accent: var(--colors-green-8);

  --background-surface-info: var(--colors-blue-1);
  --background-surface-info-subtle: var(--colors-blue-2);
  --background-surface-info-accent: var(--colors-blue-8);
}

:root[data-theme="dark"] {

  --background-surface-default: var(--colors-base-dark-1);

  --background-surface-inverted: var(--colors-base-white);

  --background-surface-neutral: var(--colors-gray-13);
  --background-surface-neutral-subtle: var(--colors-gray-12);

  --background-surface-destructive: var(--colors-red-13);
  --background-surface-destructive-subtle: var(--colors-red-8);

  --background-surface-warning: var(--colors-orange-13);
  --background-surface-warning-subtle: var(--colors-orange-12);
  --background-surface-warning-accent: var(--colors-orange-8);

  --background-surface-success: var(--colors-green-13);
  --background-surface-success-subtle: var(--colors-green-12);
  --background-surface-success-accent: var(--colors-green-8);

  --background-surface-info: var(--colors-blue-13);
  --background-surface-info-subtle: var(--colors-blue-12);
  --background-surface-info-accent: var(--colors-blue-8);
}
