:root {
  --background-modal-default: var(--colors-base-white);

  --background-modal-neutral: var(--colors-gray-1);
}

:root[data-theme="dark"] {

  --background-modal-default: var(--colors-gray-12);

  --background-modal-neutral: var(--colors-gray-11);
}
