@use "./reset.css";

@use "./fonts/icons/style.scss";

@use "./typography/typography-size.scss";
@use "./typography/typography-line-height.scss";
@use "./typography/typography-letter-spacing.scss";

@use "./colors/meansurements/meansurements-radius.scss";
@use "./colors/meansurements/meansurements-shadow.scss";

@use "./colors/palette/palette-base.scss";
@use "./colors/palette/palette-neutral.scss";
@use "./colors/palette/palette-brand.scss";
@use "./colors/palette/palette-informative.scss";
@use "./colors/palette/palette-negative.scss";
@use "./colors/palette/palette-positive.scss";
@use "./colors/palette/palette-warning.scss";

@use "./colors/background/background-accent.scss";
@use "./colors/background/background-badge.scss";
@use "./colors/background/background-button.scss";
@use "./colors/background/background-checkbox.scss";
@use "./colors/background/background-chip.scss";
@use "./colors/background/background-input.scss";
@use "./colors/background/background-modal.scss";
@use "./colors/background/background-overlay.scss";
@use "./colors/background/background-surface.scss";
@use "./colors/background/background-toggle.scss";

@use "./colors/border/border-accent.scss";
@use "./colors/border/border-action.scss";
@use "./colors/border/border-base.scss";
@use "./colors/border/border-select.scss";

@use "./colors/text/text-accent.scss";
@use "./colors/text/text-base.scss";
@use "./colors/text/text-status.scss";

@use "./colors/icon/icon-accent.scss";
@use "./colors/icon/icon-base.scss";
@use "./colors/icon/icon-status.scss";

html,
body {

  width: 100vw;
  height: 100vh;
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
}