.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--text-base-tertiary);
  overflow: auto;
}

.text {

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}