:root {
  --text-status-destructive: var(--colors-red-8);
  --text-status-destructive-secondary: var(--colors-red-9a);
  --text-status-destructive-tertiary: var(--colors-red-5a);

  --text-status-success: var(--colors-green-8);
  --text-status-success-secondary: var(--colors-green-8a);
  --text-status-success-tertiary: var(--colors-green-5a);

  --text-status-warning: var(--colors-orange-8);
  --text-status-warning-secondary: var(--colors-orange-8a);
  --text-status-warning-tertiary: var(--colors-orange-5a);

  --text-status-info: var(--colors-blue-8);
  --text-status-info-secondary: var(--colors-blue-8a);
  --text-status-info-tertiary: var(--colors-blue-5a);
}

:root[data-theme="dark"] {

  --text-status-destructive: var(--colors-red-8);
  --text-status-destructive-secondary: var(--colors-red-9a);
  --text-status-destructive-tertiary: var(--colors-red-6a);

  --text-status-success: var(--colors-green-8);
  --text-status-success-secondary: var(--colors-green-8a);
  --text-status-success-tertiary: var(--colors-green-6a);

  --text-status-warning: var(--colors-orange-8);
  --text-status-warning-secondary: var(--colors-orange-8a);
  --text-status-warning-tertiary: var(--colors-orange-6a);

  --text-status-info: var(--colors-blue-8);
  --text-status-info-secondary: var(--colors-blue-8a);
  --text-status-info-tertiary: var(--colors-blue-6a);
}
