:root {
  --text-base-primary: var(--colors-gray-13);
  --text-base-secondary: var(--colors-gray-9a);
  --text-base-tertiary: var(--colors-gray-7a);
  --text-base-quaternary: var(--colors-gray-5a);

  --text-base-inverted: var(--colors-base-white);
  --text-base-inverted-secondary: var(--colors-white-9);
  --text-base-inverted-tertiary: var(--colors-white-7);
  --text-base-inverted-quaternary: var(--colors-white-6);

  --text-base-static-dark: var(--colors-gray-13);
  --text-base-static-dark-secondary: var(--colors-gray-9a);
  --text-base-static-dark-tertiary: var(--colors-gray-7a);
  --text-base-static-dark-quaternary: var(--colors-gray-5a);

  --text-base-static-white: var(--colors-base-white);
  --text-base-static-white-secondary: var(--colors-white-9);
  --text-base-static-white-tertiary: var(--colors-white-7);
  --text-base-static-white-quaternary: var(--colors-white-5);
}

:root[data-theme="dark"] {

  --text-base-primary: var(--colors-base-white);
  --text-base-secondary: var(--colors-white-9);
  --text-base-tertiary: var(--colors-white-7);
  --text-base-quaternary: var(--colors-white-5);

  --text-base-inverted: var(--colors-base-dark-1);
  --text-base-inverted-secondary: var(--colors-gray-9a);
  --text-base-inverted-tertiary: var(--colors-gray-7a);
  --text-base-inverted-quaternary: var(--colors-gray-5a);

  --text-base-static-dark: var(--colors-gray-13);
  --text-base-static-dark-secondary: var(--colors-gray-9a);
  --text-base-static-dark-tertiary: var(--colors-gray-7a);
  --text-base-static-dark-quaternary: var(--colors-gray-5a);

  --text-base-static-white: var(--colors-base-white);
  --text-base-static-white-secondary: var(--colors-white-9);
  --text-base-static-white-tertiary: var(--colors-white-7);
  --text-base-static-white-quaternary: var(--colors-white-5);
}
