:root {

  --typography-size-h1: var(--numbers-72);
  --typography-size-h2: var(--numbers-64);
  --typography-size-h3: var(--numbers-48);
  --typography-size-h4: var(--numbers-36);
  --typography-size-h5: var(--numbers-30);
  --typography-size-h6: var(--numbers-24);

  --typography-size-body-l: var(--numbers-20);
  --typography-size-body-m: var(--numbers-18);
  --typography-size-body-s: var(--numbers-16);

  --typography-size-caption-l: var(--numbers-14);
  --typography-size-caption-m: var(--numbers-12);
  --typography-size-caption-s: var(--numbers-10);
}