:root {

  --typography-letter-spacing-h1: -2.200000047683716px;
  --typography-letter-spacing-h2: -1.7000000476837158px;
  --typography-letter-spacing-h3: -1px;
  --typography-letter-spacing-h4: -0.699999988079071px;
  --typography-letter-spacing-h5: -0.5px;
  --typography-letter-spacing-h6: -0.30000001192092896px;

  --typography-letter-spacing-body-l: -0.20000000298023224px;
  --typography-letter-spacing-body-m: -0.20000000298023224px;
  --typography-letter-spacing-body-s: -0.20000000298023224px;

  --typography-letter-spacing-caption-l: -0.10000000149011612px;
  --typography-letter-spacing-caption-m: 0;
  --typography-letter-spacing-caption-s: 0;
}