@use "../../scss.utils.scss" as utils;

.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  height: utils.pxToVW(40px);
  border: none;
  border-radius: var(--measurements-radius-xl);
  font-size: var(--typography-size-caption-l);
  line-height: var(--typography-line-height-caption-l);
  letter-spacing: var(--typography-letter-spacing-caption-l);
  background: var(--background-button-primary);
  color: var(--text-base-inverted);
  padding: utils.pxToVW(10px) utils.pxToVW(12px);
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  .lead-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    //font-size: utils.pxToVW(12px);
    width: utils.pxToVW(20px);
    height: utils.pxToVW(20px);
    margin: 0 utils.pxToVW(4px) 0 0;
  }

  .tail-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    //font-size: utils.pxToVW(12px);
    width: utils.pxToVW(20px);
    height: utils.pxToVW(20px);
    margin: 0 0 0 utils.pxToVW(4px);
  }

  .text {

    padding: 0 utils.pxToVW(4px);
  }
}

.size {
  &--extra-large {

    height: utils.pxToVW(64px);
    padding: utils.pxToVW(16px) utils.pxToVW(24px);
    border-radius: var(--measurements-radius-lg);
    font-size: var(--typography-size-h6);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);

    .text {
    }
  }

  &--large {

    height: utils.pxToVW(48px);
    padding: utils.pxToVW(12px) utils.pxToVW(16px);
    border-radius: var(--measurements-radius-lg);
    font-size: var(--typography-size-caption-l);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);
  }

  &--small {

    height: utils.pxToVW(32px);
    padding: utils.pxToVW(6px) utils.pxToVW(10px);
    border-radius: var(--measurements-radius-sm);
    font-size: var(--typography-size-caption-s);
    line-height: var(--typography-line-height-caption-s);
    letter-spacing: var(--typography-letter-spacing-caption-s);
  }

  &--extra-small {

    height: utils.pxToVW(24px);
    padding: utils.pxToVW(4px) utils.pxToVW(8px);
    border-radius: var(--measurements-radius-sm);
    font-size: var(--typography-size-caption-s);
    line-height: var(--typography-line-height-caption-s);
    letter-spacing: var(--typography-letter-spacing-caption-s);
  }
}

.mode {
  &--secondary {
    background: var(--background-button-secondary);
    border-color: var(--border-action-normal);
  }

  &--tertiary {}

  &--ghost {}
}