.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-360);
}

.header {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.weeks {

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  margin: var(--numbers-12) 0 0;
}

.days {

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  grid-column: 7;
  margin: var(--numbers-4) 0 0;
}

.control {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-12) 0 0;
}