.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 284px;
  padding: 12px;
  border-radius: var(--measurements-radius-xl);
  border: 1px solid var(--border-action-normal);
  background: var(--background-surface-default);
  box-shadow: 0 10px 16px -3px rgba(20, 21, 26, 0.08),
              0 3px 6px -2px rgba(20, 21, 26, 0.05);
  box-sizing: border-box;
}

.calendar {
  display: block;

  .react-calendar__viewContainer {
    margin: 12px 0 0;
  }
}