.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-288);
  padding: var(--numbers-12);
  border-radius: var(--measurements-radius-xl);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-surface-default);
  box-shadow: var(--measurements-shadows-lg);
  box-sizing: border-box;
}

.calendar {
  display: block;

  .react-calendar__viewContainer {
    margin: var(--numbers-12) 0 0;
  }
}