.wrapper {

  font-size: var(--typography-size-h1);
  line-height: var(--typography-line-height-h1);
  letter-spacing: var(--typography-letter-spacing-h1);
  font-weight: 600;
  color: var(--text-base-primary);
}

.variant {
  &--h2 {
    font-size: var(--typography-size-h2);
    line-height: var(--typography-line-height-h2);
    letter-spacing: var(--typography-letter-spacing-h2);
    font-weight: 500;
  }

  &--h3 {
    font-size: var(--typography-size-h3);
    line-height: var(--typography-line-height-h3);
    letter-spacing: var(--typography-letter-spacing-h3);
    font-weight: 500;
  }

  &--h4 {
    font-size: var(--typography-size-h4);
    line-height: var(--typography-line-height-h4);
    letter-spacing: var(--typography-letter-spacing-h4);
    font-weight: 500;
  }

  &--h5 {
    font-size: var(--typography-size-h5);
    line-height: var(--typography-line-height-h5);
    letter-spacing: var(--typography-letter-spacing-h5);
    font-weight: 500;
  }

  &--h6 {
    font-size: var(--typography-size-h6);
    line-height: var(--typography-line-height-h6);
    letter-spacing: var(--typography-letter-spacing-h6);
    font-weight: 500;
  }
}