.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.input {

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-checkbox-default);
  border-radius: var(--measurements-radius-full);
  box-sizing: border-box;
}

.size {
  &--md {
    width: var(--numbers-20);
    height: var(--numbers-20);
  }

  &--sm {
    width: var(--numbers-16);
    height: var(--numbers-16);
  }
}

.input:checked + .icon {

  border: var(--numbers-2) solid var(--border-select-primary);
}

.input:checked + .icon:before {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-8);
  height: var(--numbers-8);
  content: '';
  border-radius: var(--measurements-radius-full);
  background: var(--background-checkbox-checked);
}

.input:checked + .icon:before {

  background: var(--background-checkbox-checked);
}

.input:disabled:is(:checked) + .icon {

  border-color: var(--border-action-disabled);
}

.input:disabled:not(:checked) + .icon {

  background: var(--background-checkbox-disabled);
}

.input:disabled:is(:checked) + .icon:before {

  border-color: var(--border-action-disabled);
  background: var(--background-checkbox-disabled);
}
