@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?6vetpo');
  src:  url('./fonts/icomoon.eot?6vetpo#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?6vetpo') format('truetype'),
    url('./fonts/icomoon.woff?6vetpo') format('woff'),
    url('./fonts/icomoon.svg?6vetpo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-box-fill:before {
  content: "\e900";
}
.icon-account-box-line:before {
  content: "\e901";
}
.icon-account-circle-fill:before {
  content: "\e902";
}
.icon-account-circle-line:before {
  content: "\e903";
}
.icon-account-pin-box-fill:before {
  content: "\e904";
}
.icon-account-pin-box-line:before {
  content: "\e905";
}
.icon-account-pin-circle-fill:before {
  content: "\e906";
}
.icon-account-pin-circle-line:before {
  content: "\e907";
}
.icon-admin-fill:before {
  content: "\e908";
}
.icon-admin-line:before {
  content: "\e909";
}
.icon-aliens-fill:before {
  content: "\e90a";
}
.icon-aliens-line:before {
  content: "\e90b";
}
.icon-bear-smile-fill:before {
  content: "\e90c";
}
.icon-bear-smile-line:before {
  content: "\e90d";
}
.icon-body-scan-fill:before {
  content: "\e90e";
}
.icon-body-scan-line:before {
  content: "\e90f";
}
.icon-contacts-fill:before {
  content: "\e910";
}
.icon-contacts-line:before {
  content: "\e911";
}
.icon-criminal-fill:before {
  content: "\e912";
}
.icon-criminal-line:before {
  content: "\e913";
}
.icon-emotion-2-fill:before {
  content: "\e914";
}
.icon-emotion-2-line:before {
  content: "\e915";
}
.icon-emotion-fill:before {
  content: "\e916";
}
.icon-emotion-happy-fill:before {
  content: "\e917";
}
.icon-emotion-happy-line:before {
  content: "\e918";
}
.icon-emotion-laugh-fill:before {
  content: "\e919";
}
.icon-emotion-laugh-line:before {
  content: "\e91a";
}
.icon-emotion-line:before {
  content: "\e91b";
}
.icon-emotion-normal-fill:before {
  content: "\e91c";
}
.icon-emotion-normal-line:before {
  content: "\e91d";
}
.icon-emotion-sad-fill:before {
  content: "\e91e";
}
.icon-emotion-sad-line:before {
  content: "\e91f";
}
.icon-emotion-unhappy-fill:before {
  content: "\e920";
}
.icon-emotion-unhappy-line:before {
  content: "\e921";
}
.icon-genderless-fill:before {
  content: "\e922";
}
.icon-genderless-line:before {
  content: "\e923";
}
.icon-ghost-2-fill:before {
  content: "\e924";
}
.icon-ghost-2-line:before {
  content: "\e925";
}
.icon-ghost-fill:before {
  content: "\e926";
}
.icon-ghost-line:before {
  content: "\e927";
}
.icon-ghost-smile-fill:before {
  content: "\e928";
}
.icon-ghost-smile-line:before {
  content: "\e929";
}
.icon-group-2-fill:before {
  content: "\e92a";
}
.icon-group-2-line:before {
  content: "\e92b";
}
.icon-group-fill:before {
  content: "\e92c";
}
.icon-group-line:before {
  content: "\e92d";
}
.icon-men-fill:before {
  content: "\e92e";
}
.icon-men-line:before {
  content: "\e92f";
}
.icon-mickey-fill:before {
  content: "\e930";
}
.icon-mickey-line:before {
  content: "\e931";
}
.icon-open-arm-fill:before {
  content: "\e932";
}
.icon-open-arm-line:before {
  content: "\e933";
}
.icon-parent-fill:before {
  content: "\e934";
}
.icon-parent-line:before {
  content: "\e935";
}
.icon-robot-fill:before {
  content: "\e936";
}
.icon-robot-line:before {
  content: "\e937";
}
.icon-skull-2-fill:before {
  content: "\e938";
}
.icon-skull-2-line:before {
  content: "\e939";
}
.icon-skull-fill:before {
  content: "\e93a";
}
.icon-skull-line:before {
  content: "\e93b";
}
.icon-spy-fill:before {
  content: "\e93c";
}
.icon-spy-line:before {
  content: "\e93d";
}
.icon-star-smile-fill:before {
  content: "\e93e";
}
.icon-star-smile-line:before {
  content: "\e93f";
}
.icon-team-fill:before {
  content: "\e940";
}
.icon-team-line:before {
  content: "\e941";
}
.icon-travesti-fill:before {
  content: "\e942";
}
.icon-travesti-line:before {
  content: "\e943";
}
.icon-user-2-fill:before {
  content: "\e944";
}
.icon-user-2-line:before {
  content: "\e945";
}
.icon-user-3-fill:before {
  content: "\e946";
}
.icon-user-3-line:before {
  content: "\e947";
}
.icon-user-4-fill:before {
  content: "\e948";
}
.icon-user-4-line:before {
  content: "\e949";
}
.icon-user-5-fill:before {
  content: "\e94a";
}
.icon-user-5-line:before {
  content: "\e94b";
}
.icon-user-6-fill:before {
  content: "\e94c";
}
.icon-user-6-line:before {
  content: "\e94d";
}
.icon-user-add-fill:before {
  content: "\e94e";
}
.icon-user-add-line:before {
  content: "\e94f";
}
.icon-user-fill:before {
  content: "\e950";
}
.icon-user-follow-fill:before {
  content: "\e951";
}
.icon-user-follow-line:before {
  content: "\e952";
}
.icon-user-heart-fill:before {
  content: "\e953";
}
.icon-user-heart-line:before {
  content: "\e954";
}
.icon-user-line:before {
  content: "\e955";
}
.icon-user-location-fill:before {
  content: "\e956";
}
.icon-user-location-line:before {
  content: "\e957";
}
.icon-user-received-2-fill:before {
  content: "\e958";
}
.icon-user-received-2-line:before {
  content: "\e959";
}
.icon-user-received-fill:before {
  content: "\e95a";
}
.icon-user-received-line:before {
  content: "\e95b";
}
.icon-user-search-fill:before {
  content: "\e95c";
}
.icon-user-search-line:before {
  content: "\e95d";
}
.icon-user-settings-fill:before {
  content: "\e95e";
}
.icon-user-settings-line:before {
  content: "\e95f";
}
.icon-user-shared-2-fill:before {
  content: "\e960";
}
.icon-user-shared-2-line:before {
  content: "\e961";
}
.icon-user-shared-fill:before {
  content: "\e962";
}
.icon-user-shared-line:before {
  content: "\e963";
}
.icon-user-smile-fill:before {
  content: "\e964";
}
.icon-user-smile-line:before {
  content: "\e965";
}
.icon-user-star-fill:before {
  content: "\e966";
}
.icon-user-star-line:before {
  content: "\e967";
}
.icon-user-unfollow-fill:before {
  content: "\e968";
}
.icon-user-unfollow-line:before {
  content: "\e969";
}
.icon-user-voice-fill:before {
  content: "\e96a";
}
.icon-user-voice-line:before {
  content: "\e96b";
}
.icon-women-fill:before {
  content: "\e96c";
}
.icon-women-line:before {
  content: "\e96d";
}
