.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.label {

  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 0 var(--numbers-8);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.caption {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: var(--numbers-8) 0 0;
}