.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: var(--numbers-8);
}

.label {

  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.caption {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
