@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?zd5tjt');
  src:  url('./fonts/icomoon.eot?zd5tjt#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?zd5tjt') format('truetype'),
    url('./fonts/icomoon.woff?zd5tjt') format('woff'),
    url('./fonts/icomoon.svg?zd5tjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hours-fill:before {
  content: "\e900";
}
.icon-hours-line:before {
  content: "\e901";
}
.icon-auction-fill:before {
  content: "\e902";
}
.icon-auction-line:before {
  content: "\e903";
}
.icon-bank-card-2-fill:before {
  content: "\e904";
}
.icon-bank-card-2-line:before {
  content: "\e905";
}
.icon-bank-card-fill:before {
  content: "\e906";
}
.icon-bank-card-line:before {
  content: "\e907";
}
.icon-bit-coin-fill:before {
  content: "\e908";
}
.icon-bit-coin-line:before {
  content: "\e909";
}
.icon-coin-fill:before {
  content: "\e90a";
}
.icon-coin-line:before {
  content: "\e90b";
}
.icon-coins-fill:before {
  content: "\e90c";
}
.icon-coins-line:before {
  content: "\e90d";
}
.icon-copper-coin-fill:before {
  content: "\e90e";
}
.icon-copper-coin-line:before {
  content: "\e90f";
}
.icon-copper-diamond-fill:before {
  content: "\e910";
}
.icon-copper-diamond-line:before {
  content: "\e911";
}
.icon-coupon-2-line:before {
  content: "\e912";
}
.icon-coupon-3-fill:before {
  content: "\e913";
}
.icon-coupon-3-line:before {
  content: "\e914";
}
.icon-coupon-4-fill:before {
  content: "\e915";
}
.icon-coupon-4-line:before {
  content: "\e916";
}
.icon-coupon-5-fill:before {
  content: "\e917";
}
.icon-coupon-5-line:before {
  content: "\e918";
}
.icon-coupon-fill:before {
  content: "\e919";
}
.icon-coupon-line:before {
  content: "\e91a";
}
.icon-currency-fill:before {
  content: "\e91b";
}
.icon-currency-line:before {
  content: "\e91c";
}
.icon-exchange-box-fill:before {
  content: "\e91d";
}
.icon-exchange-box-line:before {
  content: "\e91e";
}
.icon-exchange-cny-fill:before {
  content: "\e91f";
}
.icon-exchange-cny-line:before {
  content: "\e920";
}
.icon-exchange-dollar-fill:before {
  content: "\e921";
}
.icon-exchange-dollar-line:before {
  content: "\e922";
}
.icon-exchange-fill:before {
  content: "\e923";
}
.icon-exchange-funds-fill:before {
  content: "\e924";
}
.icon-exchange-funds-line:before {
  content: "\e925";
}
.icon-exchange-line:before {
  content: "\e926";
}
.icon-funds-box-fill:before {
  content: "\e927";
}
.icon-funds-box-line:before {
  content: "\e928";
}
.icon-funds-fill:before {
  content: "\e929";
}
.icon-funds-line:before {
  content: "\e92a";
}
.icon-gift-2-fill:before {
  content: "\e92b";
}
.icon-gift-2-line:before {
  content: "\e92c";
}
.icon-gift-fill:before {
  content: "\e92d";
}
.icon-gift-line:before {
  content: "\e92e";
}
.icon-hand-coin-fill:before {
  content: "\e92f";
}
.icon-hand-coin-line:before {
  content: "\e930";
}
.icon-hand-heart-fill:before {
  content: "\e931";
}
.icon-hand-heart-line:before {
  content: "\e932";
}
.icon-increase-decrease-fill:before {
  content: "\e933";
}
.icon-increase-decrease-line:before {
  content: "\e934";
}
.icon-money-cny-box-fill:before {
  content: "\e935";
}
.icon-money-cny-box-line:before {
  content: "\e936";
}
.icon-money-cny-circle-fill:before {
  content: "\e937";
}
.icon-money-cny-circle-line:before {
  content: "\e938";
}
.icon-money-dollar-box-fill:before {
  content: "\e939";
}
.icon-money-dollar-box-line:before {
  content: "\e93a";
}
.icon-money-dollar-circle-fill:before {
  content: "\e93b";
}
.icon-money-dollar-circle-line:before {
  content: "\e93c";
}
.icon-money-euro-box-fill:before {
  content: "\e93d";
}
.icon-money-euro-box-line:before {
  content: "\e93e";
}
.icon-money-euro-circle-fill:before {
  content: "\e93f";
}
.icon-money-euro-circle-line:before {
  content: "\e940";
}
.icon-money-pound-box-fill:before {
  content: "\e941";
}
.icon-money-pound-box-line:before {
  content: "\e942";
}
.icon-money-pound-circle-fill:before {
  content: "\e943";
}
.icon-money-pound-circle-line:before {
  content: "\e944";
}
.icon-percent-fill:before {
  content: "\e945";
}
.icon-percent-line:before {
  content: "\e946";
}
.icon-price-tag-2-fill:before {
  content: "\e947";
}
.icon-price-tag-2-line:before {
  content: "\e948";
}
.icon-price-tag-3-fill:before {
  content: "\e949";
}
.icon-price-tag-3-line:before {
  content: "\e94a";
}
.icon-price-tag-fill:before {
  content: "\e94b";
}
.icon-price-tag-line:before {
  content: "\e94c";
}
.icon-red-packet-fill:before {
  content: "\e94d";
}
.icon-red-packet-line:before {
  content: "\e94e";
}
.icon-refund-2-fill:before {
  content: "\e94f";
}
.icon-refund-2-line:before {
  content: "\e950";
}
.icon-refund-fill:before {
  content: "\e951";
}
.icon-refund-line:before {
  content: "\e952";
}
.icon-safe-2-fill:before {
  content: "\e953";
}
.icon-safe-2-line:before {
  content: "\e954";
}
.icon-safe-fill:before {
  content: "\e955";
}
.icon-safe-line:before {
  content: "\e956";
}
.icon-secure-payment-fill:before {
  content: "\e957";
}
.icon-secure-payment-line:before {
  content: "\e958";
}
.icon-shopping-bag-2-fill:before {
  content: "\e959";
}
.icon-shopping-bag-2-line:before {
  content: "\e95a";
}
.icon-shopping-bag-3-fill:before {
  content: "\e95b";
}
.icon-shopping-bag-3-line:before {
  content: "\e95c";
}
.icon-shopping-bag-fill:before {
  content: "\e95d";
}
.icon-shopping-bag-line:before {
  content: "\e95e";
}
.icon-shopping-basket-2-fill:before {
  content: "\e95f";
}
.icon-shopping-basket-2-line:before {
  content: "\e960";
}
.icon-shopping-basket-fill:before {
  content: "\e961";
}
.icon-shopping-basket-line:before {
  content: "\e962";
}
.icon-shopping-cart-2-fill:before {
  content: "\e963";
}
.icon-shopping-cart-2-line:before {
  content: "\e964";
}
.icon-shopping-cart-fill:before {
  content: "\e965";
}
.icon-shopping-cart-line:before {
  content: "\e966";
}
.icon-stock-fill:before {
  content: "\e967";
}
.icon-stock-line:before {
  content: "\e968";
}
.icon-swap-box-fill:before {
  content: "\e969";
}
.icon-swap-box-line:before {
  content: "\e96a";
}
.icon-swap-fill:before {
  content: "\e96b";
}
.icon-swap-line:before {
  content: "\e96c";
}
.icon-ticket-2-fill:before {
  content: "\e96d";
}
.icon-ticket-2-line:before {
  content: "\e96e";
}
.icon-ticket-fill:before {
  content: "\e96f";
}
.icon-ticket-line:before {
  content: "\e970";
}
.icon-trophy-fill:before {
  content: "\e971";
}
.icon-trophy-line:before {
  content: "\e972";
}
.icon-vip-crown-2-fill:before {
  content: "\e973";
}
.icon-vip-crown-2-line:before {
  content: "\e974";
}
.icon-vip-crown-fill:before {
  content: "\e975";
}
.icon-vip-crown-line:before {
  content: "\e976";
}
.icon-vip-diamond-fill:before {
  content: "\e977";
}
.icon-vip-diamond-line:before {
  content: "\e978";
}
.icon-vip-fill:before {
  content: "\e979";
}
.icon-vip-line:before {
  content: "\e97a";
}
.icon-wallet-2-fill:before {
  content: "\e97b";
}
.icon-wallet-2-line:before {
  content: "\e97c";
}
.icon-wallet-3-fill:before {
  content: "\e97d";
}
.icon-wallet-3-line:before {
  content: "\e97e";
}
.icon-wallet-fill:before {
  content: "\e97f";
}
.icon-wallet-line:before {
  content: "\e980";
}
.icon-water-flash-fill:before {
  content: "\e981";
}
.icon-water-flash-line:before {
  content: "\e982";
}
