.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  background: var(--background-button-tetriary);
  overflow: hidden;
  transition: var(--measurements-transition);

  &:hover {
    background: var(--background-button-tetriary--hover);
  }
}

.left-action {
  padding: var(--numbers-10);
  color: var(--text-base-primary);
  cursor: pointer;

  &.disabled {
    color: var(--icon-base-quaternary);
  }
}

.right-action {
  padding: var(--numbers-10);
  color: var(--text-base-primary);
  cursor: pointer;

  &.disabled {
    color: var(--icon-base-quaternary);
  }
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.value {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: var(--numbers-28);
  text-align: center;
  color: var(--text-base-primary);
  font-size: var(--typography-size-caption-l);
  font-weight: var(--typography-weight-semi-bold);
  line-height: var(--typography-line-height-caption-l);
  letter-spacing: var(--typography-letter-spacing-caption-l);
}

.shape {
  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}

.size {
  &--lg {
    height: var(--numbers-40);

    .icon {
      width: var(--numbers-20);
      height: var(--numbers-20);
      font-size: var(--typography-size-body-s);
    }

    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-xl);
      }
    }
  }

  &--md {
    height: var(--numbers-32);

    .icon {
      width: var(--numbers-12);
      height: var(--numbers-12);
      font-size: var(--typography-size-caption-m);
    }

    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-lg);
      }
    }
  }
}

.outline {
  border: var(--numbers-1) solid var(--border-action-normal);
}