:root {
  --border-base-neutral: var(--colors-gray-3);
  --border-base-neutral-subtle: var(--colors-gray-4);

  --border-base-info: var(--colors-blue-4);
  --border-base-succes: var(--colors-green-4);
  --border-base-warning: var(--colors-orange-4);
  --border-base-destructive: var(--colors-red-4);
  --border-base-brand: var(--colors-purple-4);

  --border-base-divider: var(--colors-gray-2);

  --border-base-alpha: var(--colors-gray-2a);
  --border-base-alpha-white: var(--colors-white-3);

  --border-base-surface: var(--colors-base-white);
  --border-base-surface-neutral: var(--colors-gray-1);

  --border-base-inverted: var(--colors-base-dark-1);
}

:root[data-theme="dark"] {

  --border-base-neutral: var(--colors-white-3);
  --border-base-neutral-subtle: var(--colors-white-4);

  --border-base-info: var(--colors-blue-4a);
  --border-base-succes: var(--colors-green-4a);
  --border-base-warning: var(--colors-orange-4a);
  --border-base-destructive: var(--colors-red-4a);
  --border-base-brand: var(--colors-purple-4a);

  --border-base-divider: var(--colors-gray-12);

  --border-base-alpha: var(--colors-white-2);
  --border-base-alpha-white: var(--colors-white-3);

  --border-base-surface: var(--colors-base-dark-1);
  --border-base-surface-neutral: var(--colors-gray-13);

  --border-base-inverted: var(--colors-base-white);
}
