:root {
  --border-select-primary: var(--colors-purple-8);
  --border-select-secondary: var(--colors-purple-4);

  --border-select-destructive: var(--colors-red-8);
  --border-select-destructive-secondary: var(--colors-red-4);
}

:root[data-theme="dark"] {

  --border-select-primary: var(--colors-purple-8);
  --border-select-secondary: var(--colors-purple-4a);

  --border-select-destructive: var(--colors-red-8);
  --border-select-destructive-secondary: var(--colors-red-4a);
}
