:root {
  --border-action-normal: var(--colors-gray-3);
  --border-action-hover: var(--colors-gray-4);
  --border-action-disabled: var(--colors-gray-2);
  --border-action-focus: var(--colors-purple-8);
  --border-action-focus-light: var(--colors-purple-6);
  --border-action-focus-destructive: var(--colors-red-8);
  --border-action-focus-destructive-light: var(--colors-red-6);
  --border-action-focus-info: var(--colors-blue-8);
  --border-action-focus-info-light: var(--colors-blue-6);
  --border-action-focus-success: var(--colors-green-8);
  --border-action-focus-success-light: var(--colors-green-6);

  --border-action-destructive: var(--colors-red-4);
  --border-action-destructive-light: var(--colors-red-5);
  --border-action-destructive-hover: var(--colors-red-5);
  --border-action-destructive-disabled: var(--colors-red-3);

  --border-action-success: var(--colors-green-4);
  --border-action-success-hover: var(--colors-green-5);

  --border-action-warning: var(--colors-orange-4);
  --border-action-warning-hover: var(--colors-orange-5);

  --border-action-info: var(--colors-blue-4);
  --border-action-info-hover: var(--colors-blue-5);
}

:root[data-theme="dark"] {

  --border-action-normal: var(--colors-white-3);
  --border-action-hover: var(--colors-white-4);
  --border-action-disabled: var(--colors-white-2);
  --border-action-focus: var(--colors-purple-8);
  --border-action-focus-light: var(--colors-purple-6);
  --border-action-focus-destructive: var(--colors-red-8);
  --border-action-focus-destructive-light: var(--colors-red-6);

  --border-action-destructive: var(--colors-red-4a);
  --border-action-destructive-light: var(--colors-red-5a);
  --border-action-destructive-disabled: var(--colors-red-3a);

  --border-action-success: var(--colors-green-4a);
  --border-action-success-hover: var(--colors-green-5a);

  --border-action-warning: var(--colors-orange-4a);
  --border-action-warning-hover: var(--colors-orange-5a);

  --border-action-info: var(--colors-blue-4a);
  --border-action-info-hover: var(--colors-blue-5a);
}
