.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  font-size: var(--numbers-16);
  color: var(--text-status-destructive-secondary);
}
