@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?w35mbm');
  src:  url('./fonts/icomoon.eot?w35mbm#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?w35mbm') format('truetype'),
    url('./fonts/icomoon.woff?w35mbm') format('woff'),
    url('./fonts/icomoon.svg?w35mbm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-capsule-fill:before {
  content: "\e900";
}
.icon-capsule-line:before {
  content: "\e901";
}
.icon-dislike-fill:before {
  content: "\e902";
}
.icon-dislike-line:before {
  content: "\e903";
}
.icon-dossier-fill:before {
  content: "\e904";
}
.icon-dossier-line:before {
  content: "\e905";
}
.icon-empathize-fill:before {
  content: "\e906";
}
.icon-empathize-line:before {
  content: "\e907";
}
.icon-first-aid-kit-fill:before {
  content: "\e908";
}
.icon-first-aid-kit-line:before {
  content: "\e924";
}
.icon-flask-fill:before {
  content: "\e925";
}
.icon-flask-line:before {
  content: "\e926";
}
.icon-hand-sanitizer-fill:before {
  content: "\e927";
}
.icon-hand-sanitizer-line:before {
  content: "\e928";
}
.icon-health-book-fill:before {
  content: "\e929";
}
.icon-health-book-line:before {
  content: "\e92a";
}
.icon-heart-2-fill:before {
  content: "\e92b";
}
.icon-heart-2-line:before {
  content: "\e909";
}
.icon-heart-3-fill:before {
  content: "\e90a";
}
.icon-heart-3-line:before {
  content: "\e90b";
}
.icon-heart-add-fill:before {
  content: "\e90c";
}
.icon-heart-add-line:before {
  content: "\e90d";
}
.icon-heart-fill:before {
  content: "\e90e";
}
.icon-heart-line:before {
  content: "\e90f";
}
.icon-heart-pulse-fill:before {
  content: "\e910";
}
.icon-heart-pulse-line:before {
  content: "\e911";
}
.icon-hearts-fill:before {
  content: "\e92c";
}
.icon-infrared-thermometer-fill:before {
  content: "\e92d";
}
.icon-infrared-thermometer-line:before {
  content: "\e92e";
}
.icon-lungs-fill:before {
  content: "\e92f";
}
.icon-lungs-line:before {
  content: "\e930";
}
.icon-lungs-line-1:before {
  content: "\e931";
}
.icon-medicine-bottle-fill:before {
  content: "\e932";
}
.icon-medicine-bottle-line:before {
  content: "\e933";
}
.icon-mental-health-fill:before {
  content: "\e912";
}
.icon-mental-health-line:before {
  content: "\e913";
}
.icon-microscope-fill:before {
  content: "\e914";
}
.icon-microscope-line:before {
  content: "\e915";
}
.icon-nurse-fill:before {
  content: "\e916";
}
.icon-nurse-line:before {
  content: "\e917";
}
.icon-psychotherapy-fill:before {
  content: "\e918";
}
.icon-psychotherapy-line:before {
  content: "\e919";
}
.icon-pulse-fill:before {
  content: "\e91a";
}
.icon-pulse-line:before {
  content: "\e934";
}
.icon-rest-time-fill:before {
  content: "\e935";
}
.icon-rest-time-line:before {
  content: "\e936";
}
.icon-stethoscope-fill:before {
  content: "\e937";
}
.icon-stethoscope-line:before {
  content: "\e938";
}
.icon-surgical-mask-fill:before {
  content: "\e939";
}
.icon-surgical-mask-line:before {
  content: "\e93a";
}
.icon-syringe-fill:before {
  content: "\e93b";
}
.icon-syringe-line:before {
  content: "\e91b";
}
.icon-test-tube-fill:before {
  content: "\e91c";
}
.icon-test-tube-line:before {
  content: "\e91d";
}
.icon-thermometer-fill:before {
  content: "\e91e";
}
.icon-thermometer-line:before {
  content: "\e91f";
}
.icon-virus-fill:before {
  content: "\e920";
}
.icon-virus-line:before {
  content: "\e921";
}
.icon-zzz-fill:before {
  content: "\e922";
}
.icon-zzz-line:before {
  content: "\e923";
}
