@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?8cmc6o');
  src:  url('./fonts/icomoon.eot?8cmc6o#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?8cmc6o') format('truetype'),
    url('./fonts/icomoon.woff?8cmc6o') format('woff'),
    url('./fonts/icomoon.svg?8cmc6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alipay-fill:before {
  content: "\e900";
}
.icon-alipay-line:before {
  content: "\e901";
}
.icon-amazon-fill:before {
  content: "\e902";
}
.icon-amazon-line:before {
  content: "\e903";
}
.icon-android-fill:before {
  content: "\e904";
}
.icon-android-line:before {
  content: "\e905";
}
.icon-angularjs-fill:before {
  content: "\e906";
}
.icon-angularjs-line:before {
  content: "\e907";
}
.icon-apple-fill:before {
  content: "\e908";
}
.icon-apple-line:before {
  content: "\e909";
}
.icon-app-store-fill:before {
  content: "\e90a";
}
.icon-app-store-line:before {
  content: "\e90b";
}
.icon-baidu-fill:before {
  content: "\e90c";
}
.icon-baidu-line:before {
  content: "\e90d";
}
.icon-behance-fill:before {
  content: "\e90e";
}
.icon-behance-line:before {
  content: "\e90f";
}
.icon-bilibili-fill:before {
  content: "\e910";
}
.icon-bilibili-line:before {
  content: "\e911";
}
.icon-centos-fill:before {
  content: "\e912";
}
.icon-centos-line:before {
  content: "\e913";
}
.icon-chrome-fill:before {
  content: "\e914";
}
.icon-chrome-line:before {
  content: "\e915";
}
.icon-codepen-fill:before {
  content: "\e916";
}
.icon-codepen-line:before {
  content: "\e917";
}
.icon-coreos-fill:before {
  content: "\e918";
}
.icon-coreos-line:before {
  content: "\e919";
}
.icon-dingding-fill:before {
  content: "\e91a";
}
.icon-dingding-line:before {
  content: "\e91b";
}
.icon-discord-fill:before {
  content: "\e91c";
}
.icon-discord-line:before {
  content: "\e91d";
}
.icon-disqus-fill:before {
  content: "\e91e";
}
.icon-disqus-line:before {
  content: "\e91f";
}
.icon-douban-fill:before {
  content: "\e920";
}
.icon-douban-line:before {
  content: "\e921";
}
.icon-dribbble-fill:before {
  content: "\e922";
}
.icon-dribbble-line:before {
  content: "\e923";
}
.icon-drive-fill:before {
  content: "\e924";
}
.icon-drive-line:before {
  content: "\e925";
}
.icon-dropbox-fill:before {
  content: "\e926";
}
.icon-dropbox-line:before {
  content: "\e927";
}
.icon-edge-fill:before {
  content: "\e928";
}
.icon-edge-line:before {
  content: "\e929";
}
.icon-evernote-fill:before {
  content: "\e92a";
}
.icon-evernote-line:before {
  content: "\e92b";
}
.icon-facebook-box-fill:before {
  content: "\e92c";
}
.icon-facebook-box-line:before {
  content: "\e92d";
}
.icon-facebook-circle-fill:before {
  content: "\e92e";
}
.icon-facebook-circle-line:before {
  content: "\e92f";
}
.icon-facebook-fill:before {
  content: "\e930";
}
.icon-facebook-line:before {
  content: "\e931";
}
.icon-figma-line:before {
  content: "\e932";
}
.icon-finder-fill:before {
  content: "\e933";
}
.icon-finder-line:before {
  content: "\e934";
}
.icon-firefox-fill:before {
  content: "\e935";
}
.icon-firefox-line:before {
  content: "\e936";
}
.icon-flutter-fill:before {
  content: "\e937";
}
.icon-flutter-line:before {
  content: "\e938";
}
.icon-gatsby-fill:before {
  content: "\e939";
}
.icon-gatsby-line:before {
  content: "\e93a";
}
.icon-github-fill:before {
  content: "\e93b";
}
.icon-github-line:before {
  content: "\e93c";
}
.icon-gitlab-fill:before {
  content: "\e93d";
}
.icon-gitlab-line:before {
  content: "\e93e";
}
.icon-google-fill:before {
  content: "\e93f";
}
.icon-google-line:before {
  content: "\e940";
}
.icon-google-play-fill:before {
  content: "\e941";
}
.icon-google-play-line:before {
  content: "\e942";
}
.icon-honor-of-kings-fill:before {
  content: "\e943";
}
.icon-honor-of-kings-line:before {
  content: "\e944";
}
.icon-ie-fill:before {
  content: "\e945";
}
.icon-ie-line:before {
  content: "\e946";
}
.icon-instagram-fill:before {
  content: "\e947";
}
.icon-instagram-line:before {
  content: "\e948";
}
.icon-invision-fill:before {
  content: "\e949";
}
.icon-invision-line:before {
  content: "\e94a";
}
.icon-kakao-talk-fill:before {
  content: "\e94b";
}
.icon-kakao-talk-line:before {
  content: "\e94c";
}
.icon-line-fill:before {
  content: "\e94d";
}
.icon-line-line:before {
  content: "\e94e";
}
.icon-linkedin-box-fill:before {
  content: "\e94f";
}
.icon-linkedin-box-line:before {
  content: "\e950";
}
.icon-linkedin-fill:before {
  content: "\e951";
}
.icon-linkedin-line:before {
  content: "\e952";
}
.icon-mastercard-fill:before {
  content: "\e953";
}
.icon-mastercard-line:before {
  content: "\e954";
}
.icon-mastodon-fill:before {
  content: "\e955";
}
.icon-mastodon-line:before {
  content: "\e956";
}
.icon-medium-fill:before {
  content: "\e957";
}
.icon-medium-line:before {
  content: "\e958";
}
.icon-messenger-fill:before {
  content: "\e959";
}
.icon-messenger-line:before {
  content: "\e95a";
}
.icon-microsoft-fill:before {
  content: "\e95b";
}
.icon-microsoft-line:before {
  content: "\e95c";
}
.icon-mini-program-fill:before {
  content: "\e95d";
}
.icon-mini-program-line:before {
  content: "\e95e";
}
.icon-netease-cloud-music-fill:before {
  content: "\e95f";
}
.icon-netease-cloud-music-line:before {
  content: "\e960";
}
.icon-netflix-fill:before {
  content: "\e961";
}
.icon-netflix-line:before {
  content: "\e962";
}
.icon-npmjs-fill:before {
  content: "\e963";
}
.icon-npmjs-line:before {
  content: "\e964";
}
.icon-open-source-fill:before {
  content: "\e965";
}
.icon-open-source-line:before {
  content: "\e966";
}
.icon-opera-fill:before {
  content: "\e967";
}
.icon-opera-line:before {
  content: "\e968";
}
.icon-patreon-fill:before {
  content: "\e969";
}
.icon-patreon-line:before {
  content: "\e96a";
}
.icon-paypal-fill:before {
  content: "\e96b";
}
.icon-paypal-line:before {
  content: "\e96c";
}
.icon-pinterest-fill:before {
  content: "\e96d";
}
.icon-pinterest-line:before {
  content: "\e96e";
}
.icon-pixelfed-fill:before {
  content: "\e96f";
}
.icon-pixelfed-line:before {
  content: "\e970";
}
.icon-playstation-fill:before {
  content: "\e971";
}
.icon-playstation-line:before {
  content: "\e972";
}
.icon-product-hunt-fill:before {
  content: "\e973";
}
.icon-product-hunt-line:before {
  content: "\e974";
}
.icon-qq-fill:before {
  content: "\e975";
}
.icon-qq-line:before {
  content: "\e976";
}
.icon-reactjs-fill:before {
  content: "\e977";
}
.icon-reactjs-line:before {
  content: "\e978";
}
.icon-reddit-fill:before {
  content: "\e979";
}
.icon-reddit-line:before {
  content: "\e97a";
}
.icon-remixicon-fill:before {
  content: "\e97b";
}
.icon-remixicon-line:before {
  content: "\e97c";
}
.icon-safari-fill:before {
  content: "\e97d";
}
.icon-safari-line:before {
  content: "\e97e";
}
.icon-skype-fill:before {
  content: "\e97f";
}
.icon-skype-line:before {
  content: "\e980";
}
.icon-slack-fill:before {
  content: "\e981";
}
.icon-slack-line:before {
  content: "\e982";
}
.icon-snapchat-fill:before {
  content: "\e983";
}
.icon-snapchat-line:before {
  content: "\e984";
}
.icon-soundcloud-fill:before {
  content: "\e985";
}
.icon-soundcloud-line:before {
  content: "\e986";
}
.icon-spectrum-fill:before {
  content: "\e987";
}
.icon-spectrum-line:before {
  content: "\e988";
}
.icon-spotify-fill:before {
  content: "\e989";
}
.icon-spotify-line:before {
  content: "\e98a";
}
.icon-stack-overflow-fill:before {
  content: "\e98b";
}
.icon-stack-overflow-line:before {
  content: "\e98c";
}
.icon-stackshare-fill:before {
  content: "\e98d";
}
.icon-stackshare-line:before {
  content: "\e98e";
}
.icon-steam-fill:before {
  content: "\e98f";
}
.icon-steam-line:before {
  content: "\e990";
}
.icon-switch-fill:before {
  content: "\e991";
}
.icon-switch-line:before {
  content: "\e992";
}
.icon-taobao-fill:before {
  content: "\e993";
}
.icon-taobao-line:before {
  content: "\e994";
}
.icon-telegram-fill:before {
  content: "\e995";
}
.icon-telegram-line:before {
  content: "\e996";
}
.icon-trello-fill:before {
  content: "\e997";
}
.icon-trello-line:before {
  content: "\e998";
}
.icon-tumblr-fill:before {
  content: "\e999";
}
.icon-tumblr-line:before {
  content: "\e99a";
}
.icon-twitch-fill:before {
  content: "\e99b";
}
.icon-twitch-line:before {
  content: "\e99c";
}
.icon-twitter-fill:before {
  content: "\e99d";
}
.icon-twitter-line:before {
  content: "\e99e";
}
.icon-ubuntu-fill:before {
  content: "\e99f";
}
.icon-ubuntu-line:before {
  content: "\e9a0";
}
.icon-unsplash-fill:before {
  content: "\e9a1";
}
.icon-unsplash-line:before {
  content: "\e9a2";
}
.icon-vimeo-fill:before {
  content: "\e9a3";
}
.icon-vimeo-line:before {
  content: "\e9a4";
}
.icon-visa-fill:before {
  content: "\e9a5";
}
.icon-visa-line:before {
  content: "\e9a6";
}
.icon-vuejs-fill:before {
  content: "\e9a7";
}
.icon-vuejs-line:before {
  content: "\e9a8";
}
.icon-wechat-2-fill:before {
  content: "\e9a9";
}
.icon-wechat-2-line:before {
  content: "\e9aa";
}
.icon-wechat-fill:before {
  content: "\e9ab";
}
.icon-wechat-line:before {
  content: "\e9ac";
}
.icon-wechat-pay-fill:before {
  content: "\e9ad";
}
.icon-wechat-pay-line:before {
  content: "\e9ae";
}
.icon-weibo-fill:before {
  content: "\e9af";
}
.icon-weibo-line:before {
  content: "\e9b0";
}
.icon-whatsapp-fill:before {
  content: "\e9b1";
}
.icon-whatsapp-line:before {
  content: "\e9b2";
}
.icon-windows-fill:before {
  content: "\e9b3";
}
.icon-windows-line:before {
  content: "\e9b4";
}
.icon-xbox-fill:before {
  content: "\e9b5";
}
.icon-xbox-line:before {
  content: "\e9b6";
}
.icon-xing-fill:before {
  content: "\e9b7";
}
.icon-xing-line:before {
  content: "\e9b8";
}
.icon-youtube-fill:before {
  content: "\e9b9";
}
.icon-youtube-line:before {
  content: "\e9ba";
}
.icon-zcool-fill:before {
  content: "\e9bb";
}
.icon-zcool-line:before {
  content: "\e9bc";
}
.icon-zhihu-fill:before {
  content: "\e9bd";
}
.icon-zhihu-line:before {
  content: "\e9be";
}
