.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: var(--numbers-24);
  padding: var(--numbers-24);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
