.wrapper {

  position: relative;
}

:global {

  .scroll-content {

    display: flow-root;
    transform: translate3d(0, 0, 0);
  }

  .scrollbar-track {

    position: absolute;
    background: transparent;
    user-select: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s 0.5s ease-out;
  }

  .scrollbar-track.show,
  .scrollbar-track:hover {

    opacity: 1;
    transition-delay: 0s;
  }

  .scrollbar-track-x {

    left: 0;
    bottom: 0;
    height: var(--numbers-16);
  }

  .scrollbar-track-y {

    top: 0;
    right: 0;
    bottom: var(--numbers-6);
    width: var(--numbers-16);
  }

  .scrollbar-thumb {

    position: absolute;
    border-radius: var(--measurements-radius-full);
    background: var(--background-surface-neutral-subtle);
    backdrop-filter: blur(var(--numbers-5));
    opacity: .8;
  }

  .scrollbar-thumb-y {

    top: 0;
    left: var(--numbers-6);
    width: var(--numbers-4);
  }

  .scrollbar-thumb-x {

    top: var(--numbers-6);
    left: 0;
    height: var(--numbers-4);
  }
}