@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?gfn3sl');
  src:  url('./fonts/icomoon.eot?gfn3sl#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?gfn3sl') format('truetype'),
    url('./fonts/icomoon.woff?gfn3sl') format('woff'),
    url('./fonts/icomoon.svg?gfn3sl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anticlockwise-2-fill:before {
  content: "\e900";
}
.icon-anticlockwise-2-line:before {
  content: "\e901";
}
.icon-anticlockwise-fill:before {
  content: "\e902";
}
.icon-anticlockwise-line:before {
  content: "\e903";
}
.icon-artboard-2-fill:before {
  content: "\e904";
}
.icon-artboard-2-line:before {
  content: "\e905";
}
.icon-artboard-fill:before {
  content: "\e906";
}
.icon-artboard-line:before {
  content: "\e907";
}
.icon-ball-pen-fill:before {
  content: "\e908";
}
.icon-ball-pen-line:before {
  content: "\e909";
}
.icon-blur-off-fill:before {
  content: "\e90a";
}
.icon-blur-off-line:before {
  content: "\e90b";
}
.icon-brush-2-fill:before {
  content: "\e90c";
}
.icon-brush-2-line:before {
  content: "\e90d";
}
.icon-brush-3-fill:before {
  content: "\e90e";
}
.icon-brush-3-line:before {
  content: "\e90f";
}
.icon-brush-4-fill:before {
  content: "\e910";
}
.icon-brush-4-line:before {
  content: "\e911";
}
.icon-brush-fill:before {
  content: "\e912";
}
.icon-brush-line:before {
  content: "\e913";
}
.icon-clockwise-2-fill:before {
  content: "\e914";
}
.icon-clockwise-2-line:before {
  content: "\e915";
}
.icon-clockwise-fill:before {
  content: "\e916";
}
.icon-clockwise-line:before {
  content: "\e917";
}
.icon-collage-fill:before {
  content: "\e918";
}
.icon-collage-line:before {
  content: "\e919";
}
.icon-compasses-2-fill:before {
  content: "\e91a";
}
.icon-compasses-2-line:before {
  content: "\e91b";
}
.icon-compasses-fill:before {
  content: "\e91c";
}
.icon-compasses-line:before {
  content: "\e91d";
}
.icon-contrast-2-fill:before {
  content: "\e91e";
}
.icon-contrast-2-line:before {
  content: "\e91f";
}
.icon-contrast-drop-2-fill:before {
  content: "\e920";
}
.icon-contrast-drop-2-line:before {
  content: "\e921";
}
.icon-contrast-drop-fill:before {
  content: "\e922";
}
.icon-contrast-drop-line:before {
  content: "\e923";
}
.icon-contrast-fill:before {
  content: "\e924";
}
.icon-contrast-line:before {
  content: "\e925";
}
.icon-crop-2-fill:before {
  content: "\e926";
}
.icon-crop-2-line:before {
  content: "\e927";
}
.icon-crop-fill:before {
  content: "\e928";
}
.icon-crop-line:before {
  content: "\e929";
}
.icon-drag-drop-fill:before {
  content: "\e92a";
}
.icon-drag-drop-line:before {
  content: "\e92b";
}
.icon-drag-move-2-fill:before {
  content: "\e92c";
}
.icon-drag-move-2-line:before {
  content: "\e92d";
}
.icon-drag-move-fill:before {
  content: "\e92e";
}
.icon-drag-move-line:before {
  content: "\e92f";
}
.icon-drop-fill:before {
  content: "\e930";
}
.icon-drop-line:before {
  content: "\e931";
}
.icon-edit-2-fill:before {
  content: "\e932";
}
.icon-edit-2-line:before {
  content: "\e933";
}
.icon-edit-box-fill:before {
  content: "\e934";
}
.icon-edit-box-line:before {
  content: "\e935";
}
.icon-edit-circle-fill:before {
  content: "\e936";
}
.icon-edit-circle-line:before {
  content: "\e937";
}
.icon-edit-fill:before {
  content: "\e938";
}
.icon-edit-line:before {
  content: "\e939";
}
.icon-eraser-fill:before {
  content: "\e93a";
}
.icon-eraser-line:before {
  content: "\e93b";
}
.icon-focus-2-fill:before {
  content: "\e93c";
}
.icon-focus-2-line:before {
  content: "\e93d";
}
.icon-focus-3-fill:before {
  content: "\e93e";
}
.icon-focus-3-line:before {
  content: "\e93f";
}
.icon-focus-fill:before {
  content: "\e940";
}
.icon-focus-line:before {
  content: "\e941";
}
.icon-grid-fill:before {
  content: "\e942";
}
.icon-grid-line:before {
  content: "\e943";
}
.icon-hammer-fill:before {
  content: "\e944";
}
.icon-hammer-line:before {
  content: "\e945";
}
.icon-ink-bottle-fill:before {
  content: "\e946";
}
.icon-ink-bottle-line:before {
  content: "\e947";
}
.icon-input-method-fill:before {
  content: "\e948";
}
.icon-input-method-line:before {
  content: "\e949";
}
.icon-layout-2-fill:before {
  content: "\e94a";
}
.icon-layout-2-line:before {
  content: "\e94b";
}
.icon-layout-3-fill:before {
  content: "\e94c";
}
.icon-layout-3-line:before {
  content: "\e94d";
}
.icon-layout-4-fill:before {
  content: "\e94e";
}
.icon-layout-4-line:before {
  content: "\e94f";
}
.icon-layout-5-fill:before {
  content: "\e950";
}
.icon-layout-5-line:before {
  content: "\e951";
}
.icon-layout-6-fill:before {
  content: "\e952";
}
.icon-layout-6-line:before {
  content: "\e953";
}
.icon-layout-bottom-2-fill:before {
  content: "\e954";
}
.icon-layout-bottom-2-line:before {
  content: "\e955";
}
.icon-layout-bottom-fill:before {
  content: "\e956";
}
.icon-layout-bottom-line:before {
  content: "\e957";
}
.icon-layout-column-fill:before {
  content: "\e958";
}
.icon-layout-column-line:before {
  content: "\e959";
}
.icon-layout-fill:before {
  content: "\e95a";
}
.icon-layout-grid-fill:before {
  content: "\e95b";
}
.icon-layout-grid-line:before {
  content: "\e95c";
}
.icon-layout-left-2-fill:before {
  content: "\e95d";
}
.icon-layout-left-2-line:before {
  content: "\e95e";
}
.icon-layout-left-fill:before {
  content: "\e95f";
}
.icon-layout-left-line:before {
  content: "\e960";
}
.icon-layout-line:before {
  content: "\e961";
}
.icon-layout-masonry-fill:before {
  content: "\e962";
}
.icon-layout-masonry-line:before {
  content: "\e963";
}
.icon-layout-right-2-fill:before {
  content: "\e964";
}
.icon-layout-right-2-line:before {
  content: "\e965";
}
.icon-layout-right-fill:before {
  content: "\e966";
}
.icon-layout-right-line:before {
  content: "\e967";
}
.icon-layout-row-fill:before {
  content: "\e968";
}
.icon-layout-row-line:before {
  content: "\e969";
}
.icon-layout-top-2-fill:before {
  content: "\e96a";
}
.icon-layout-top-2-line:before {
  content: "\e96b";
}
.icon-layout-top-fill:before {
  content: "\e96c";
}
.icon-layout-top-line:before {
  content: "\e96d";
}
.icon-magic-fill:before {
  content: "\e96e";
}
.icon-magic-line:before {
  content: "\e96f";
}
.icon-mark-pen-fill:before {
  content: "\e970";
}
.icon-mark-pen-line:before {
  content: "\e971";
}
.icon-markup-fill:before {
  content: "\e972";
}
.icon-markup-line:before {
  content: "\e973";
}
.icon-paint-brush-fill:before {
  content: "\e974";
}
.icon-paint-brush-line:before {
  content: "\e975";
}
.icon-paint-fill:before {
  content: "\e976";
}
.icon-paint-line:before {
  content: "\e977";
}
.icon-palette-fill:before {
  content: "\e978";
}
.icon-palette-line:before {
  content: "\e979";
}
.icon-pantone-fill:before {
  content: "\e97a";
}
.icon-pantone-line:before {
  content: "\e97b";
}
.icon-pencil-fill:before {
  content: "\e97c";
}
.icon-pencil-line:before {
  content: "\e97d";
}
.icon-pencil-ruler-2-fill:before {
  content: "\e97e";
}
.icon-pencil-ruler-2-line:before {
  content: "\e97f";
}
.icon-pencil-ruler-fill:before {
  content: "\e980";
}
.icon-pencil-ruler-line:before {
  content: "\e981";
}
.icon-pen-nib-fill:before {
  content: "\e982";
}
.icon-pen-nib-line:before {
  content: "\e983";
}
.icon-quill-pen-fill:before {
  content: "\e984";
}
.icon-quill-pen-line:before {
  content: "\e985";
}
.icon-ruler-2-fill:before {
  content: "\e986";
}
.icon-ruler-2-line:before {
  content: "\e987";
}
.icon-ruler-fill:before {
  content: "\e988";
}
.icon-ruler-line:before {
  content: "\e989";
}
.icon-scissors-2-fill:before {
  content: "\e98a";
}
.icon-scissors-2-line:before {
  content: "\e98b";
}
.icon-scissors-cut-fill:before {
  content: "\e98c";
}
.icon-scissors-cut-line:before {
  content: "\e98d";
}
.icon-scissors-fill:before {
  content: "\e98e";
}
.icon-scissors-line:before {
  content: "\e98f";
}
.icon-screenshot-2-fill:before {
  content: "\e990";
}
.icon-screenshot-2-line:before {
  content: "\e991";
}
.icon-screenshot-fill:before {
  content: "\e992";
}
.icon-screenshot-line:before {
  content: "\e993";
}
.icon-shape-2-fill:before {
  content: "\e994";
}
.icon-shape-2-line:before {
  content: "\e995";
}
.icon-shape-fill:before {
  content: "\e996";
}
.icon-shape-line:before {
  content: "\e997";
}
.icon-sip-fill:before {
  content: "\e998";
}
.icon-sip-line:before {
  content: "\e999";
}
.icon-slice-fill:before {
  content: "\e99a";
}
.icon-slice-line:before {
  content: "\e99b";
}
.icon-table-alt-fill:before {
  content: "\e99c";
}
.icon-table-alt-line:before {
  content: "\e99d";
}
.icon-table-fill:before {
  content: "\e99e";
}
.icon-table-line:before {
  content: "\e99f";
}
.icon-t-box-fill:before {
  content: "\e9a0";
}
.icon-t-box-line:before {
  content: "\e9a1";
}
.icon-tools-fill:before {
  content: "\e9a2";
}
.icon-tools-line:before {
  content: "\e9a3";
}
