@use "../../../scss.utils.scss" as utils;

.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 0 utils.pxToVW(8px);
}

.icon {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  color: var(--icon-base-tertiary);
  font-size: var(--typography-size-body-l);

  &--disabled {
    color: var(--text-base-quaternary);
  }
}

.element {

  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.input {

  display: block;
  height: utils.pxToVW(38px);
  padding: 0 utils.pxToVW(4px);
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--typography-size-caption-l);
  line-height: var(--typography-line-height-caption-l);
  font-weight: 400;
  color: var(--text-base-primary);

  &:disabled {
    color: var(--text-base-quaternary);
  }
}

.badge {

  padding: 0 utils.pxToVW(4px);
}