@use '../../../../utils/shadow/shadow-size.scss' as utils;

.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-chip-primary);
  @include utils.shadow-xs(rgba(20, 21, 26, 0.05));
  cursor: pointer;

  &:hover {
    background: var(--background-chip-primary-hover);
  }
}

.lead-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  margin: 0 var(--numbers-4) 0 0;
  color: var(--icon-base-secondary);
}

.close {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 var(--numbers-4);
  font-size: var(--typography-size-body-l);
  color: var(--text-accent-purple-tertiary);
}

.label {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
  padding: 0 var(--numbers-4);
}

.active {

  border-color: var(--border-select-secondary);
  background: var(--background-chip-primary);

  .lead-icon {
    color: var(--icon-accent-purple-accent);
  }

  .label {
    color: var(--text-accent-purple-accent);
  }
}

.disabled,
.disabled:hover {

  border-color: var(--border-action-disabled);
  background: var(--background-chip-primary-disabled);
  box-shadow: none;

  .lead-icon {
    color: var(--icon-base-quaternary);
  }

  .label {
    color: var(--text-base-quaternary);
  }

  .close {
    color: var(--icon-base-quaternary);
  }
}

.size {
  &--lg {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-xl);
      }
    }

    height: var(--numbers-36);
    padding: var(--numbers-8) var(--numbers-12);

    .lead-icon {
      width: var(--numbers-20);
      height: var(--numbers-20);
      font-size: var(--typography-size-body-m);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }

    .close {
      width: var(--numbers-20);
      height: var(--numbers-20);
      font-size: var(--typography-size-body-m);
    }
  }

  &--md {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-lg);
      }
    }

    height: var(--numbers-32);
    padding: var(--numbers-6) var(--numbers-10);

    .lead-icon {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }

    .close {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }
  }

  &--sm {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-md);
      }
    }

    height: var(--numbers-24);
    padding: var(--numbers-4) var(--numbers-8);

    .lead-icon {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-m);
      line-height: var(--typography-line-height-caption-m);
      letter-spacing: var(--typography-letter-spacing-caption-m);
    }

    .close {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }
  }
}

.shape {
  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}
