:root {

  --measurements-radius-xxs: var(--numbers-2);
  --measurements-radius-xs: var(--numbers-4);
  --measurements-radius-sm: var(--numbers-6);
  --measurements-radius-md: var(--numbers-8);
  --measurements-radius-lg: var(--numbers-10);
  --measurements-radius-xl: var(--numbers-12);
  --measurements-radius-xxl: var(--numbers-16);
  --measurements-radius-xxxl: var(--numbers-24);
  --measurements-radius-full: var(--numbers-999);
}