.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  padding: var(--numbers-16) var(--numbers-20);
  border-radius: var(--measurements-radius-lg);
  border: var(--numbers-1) solid var(--border-base-alpha);
  background: var(--background-surface-default);
  cursor: pointer;
  transition: var(--measurements-transition);

  &:hover {
    border-color: var(--border-base-alpha);
    background: var(--background-surface-neutral);
  }

  &:focus {
    box-shadow: 0 0 0 var(--numbers-2) rgba(200, 178, 255, 0.50);
    border: var(--numbers-1) solid var(--border-action-focus-light);
  }
}

.expanded {

  border: var(--numbers-1) solid var(--border-base-alpha);
  background: var(--background-surface-neutral);
  box-shadow: var(--measurements-shadows-xs);

  &:hover {
    background: var(--background-surface-neutral-subtle);
  }
}

.aside {

  display: block;
  margin: 0 var(--numbers-12) 0 0;
}

.lead-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-20);
  height: var(--numbers-20);
  font-size: var(--typography-size-body-l);
  color: var(--text-base-secondary);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-4) 0 0;
  color: var(--text-base-secondary);
}

.slot {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-12) 0 0;
}

.size {
  &--large {
    .lead-icon {
      padding: var(--numbers-3) 0;
    }
  }

  &--medium {
    .lead-icon {
      padding: var(--numbers-2) 0;
    }
  }
}