.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;

  .icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: var(--numbers-13);
    color: var(--icon-text-secondary);
    border-radius: var(--measurements-radius-xs);
  }

  &:hover {

    cursor: pointer;

    .icon {
      background-color: var(--background-accent-blue);
    }
  }
}
