.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: var(--numbers-6) var(--numbers-8);
  border-radius: var(--measurements-radius-lg);
  cursor: pointer;
  transition: var(--measurements-transition);

  &:hover {
    background: var(--background-overlay-active-normal);
  }
}

.active,
.active:hover {
  background: var(--background-overlay-active-normal);
}

.lead-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 var(--numbers-4) 0 0;
  color: var(--icon-base-secondary);
  font-size: var(--typography-size-body-l);
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 0 var(--numbers-4);
}

.caption {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
}

.badge {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 0 0 var(--numbers-8);
}