@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?dxchs1');
  src:  url('./fonts/icomoon.eot?dxchs1#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?dxchs1') format('truetype'),
    url('./fonts/icomoon.woff?dxchs1') format('woff'),
    url('./fonts/icomoon.svg?dxchs1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor-fill:before {
  content: "\e900";
}
.icon-anchor-line:before {
  content: "\e901";
}
.icon-barricade-fill:before {
  content: "\e902";
}
.icon-barricade-line:before {
  content: "\e903";
}
.icon-bike-fill:before {
  content: "\e904";
}
.icon-bike-line:before {
  content: "\e905";
}
.icon-bus-2-fill:before {
  content: "\e906";
}
.icon-bus-2-line:before {
  content: "\e907";
}
.icon-bus-fill:before {
  content: "\e908";
}
.icon-bus-line:before {
  content: "\e909";
}
.icon-bus-wifi-fill:before {
  content: "\e90a";
}
.icon-bus-wifi-line:before {
  content: "\e90b";
}
.icon-caravan-fill:before {
  content: "\e90c";
}
.icon-caravan-line:before {
  content: "\e90d";
}
.icon-car-fill:before {
  content: "\e90e";
}
.icon-car-line:before {
  content: "\e90f";
}
.icon-car-washing-fill:before {
  content: "\e910";
}
.icon-car-washing-line:before {
  content: "\e911";
}
.icon-charging-pile-2-fill:before {
  content: "\e912";
}
.icon-charging-pile-2-line:before {
  content: "\e913";
}
.icon-charging-pile-fill:before {
  content: "\e914";
}
.icon-charging-pile-line:before {
  content: "\e915";
}
.icon-china-railway-fill:before {
  content: "\e916";
}
.icon-china-railway-line:before {
  content: "\e917";
}
.icon-compass-2-fill:before {
  content: "\e918";
}
.icon-compass-2-line:before {
  content: "\e919";
}
.icon-compass-3-fill:before {
  content: "\e91a";
}
.icon-compass-3-line:before {
  content: "\e91b";
}
.icon-compass-4-fill:before {
  content: "\e91c";
}
.icon-compass-4-line:before {
  content: "\e91d";
}
.icon-compass-discover-fill:before {
  content: "\e91e";
}
.icon-compass-discover-line:before {
  content: "\e91f";
}
.icon-compass-fill:before {
  content: "\e920";
}
.icon-compass-line:before {
  content: "\e921";
}
.icon-cup-fill:before {
  content: "\e922";
}
.icon-cup-line:before {
  content: "\e923";
}
.icon-direction-fill:before {
  content: "\e924";
}
.icon-direction-line:before {
  content: "\e925";
}
.icon-earth-fill:before {
  content: "\e926";
}
.icon-earth-line:before {
  content: "\e927";
}
.icon-e-bike-2-fill:before {
  content: "\e928";
}
.icon-e-bike-2-line:before {
  content: "\e929";
}
.icon-e-bike-fill:before {
  content: "\e92a";
}
.icon-e-bike-line:before {
  content: "\e92b";
}
.icon-flight-land-fill:before {
  content: "\e92c";
}
.icon-flight-land-line:before {
  content: "\e92d";
}
.icon-flight-takeoff-fill:before {
  content: "\e92e";
}
.icon-flight-takeoff-line:before {
  content: "\e92f";
}
.icon-footprint-fill:before {
  content: "\e930";
}
.icon-footprint-line:before {
  content: "\e931";
}
.icon-gas-station-fill:before {
  content: "\e932";
}
.icon-gas-station-line:before {
  content: "\e933";
}
.icon-globe-fill:before {
  content: "\e934";
}
.icon-globe-line:before {
  content: "\e935";
}
.icon-goblet-fill:before {
  content: "\e936";
}
.icon-goblet-line:before {
  content: "\e937";
}
.icon-guide-fill:before {
  content: "\e938";
}
.icon-guide-line:before {
  content: "\e939";
}
.icon-hotel-bed-fill:before {
  content: "\e93a";
}
.icon-hotel-bed-line:before {
  content: "\e93b";
}
.icon-lifebuoy-fill:before {
  content: "\e93c";
}
.icon-lifebuoy-line:before {
  content: "\e93d";
}
.icon-luggage-cart-fill:before {
  content: "\e93e";
}
.icon-luggage-cart-line:before {
  content: "\e93f";
}
.icon-luggage-deposit-fill:before {
  content: "\e940";
}
.icon-luggage-deposit-line:before {
  content: "\e941";
}
.icon-map-2-fill:before {
  content: "\e942";
}
.icon-map-2-line:before {
  content: "\e943";
}
.icon-map-fill:before {
  content: "\e944";
}
.icon-map-line:before {
  content: "\e945";
}
.icon-map-pin-2-fill:before {
  content: "\e946";
}
.icon-map-pin-2-line:before {
  content: "\e947";
}
.icon-map-pin-3-fill:before {
  content: "\e948";
}
.icon-map-pin-3-line:before {
  content: "\e949";
}
.icon-map-pin-4-fill:before {
  content: "\e94a";
}
.icon-map-pin-4-line:before {
  content: "\e94b";
}
.icon-map-pin-5-fill:before {
  content: "\e94c";
}
.icon-map-pin-5-line:before {
  content: "\e94d";
}
.icon-map-pin-add-fill:before {
  content: "\e94e";
}
.icon-map-pin-add-line:before {
  content: "\e94f";
}
.icon-map-pin-fill:before {
  content: "\e950";
}
.icon-map-pin-line:before {
  content: "\e951";
}
.icon-map-pin-range-fill:before {
  content: "\e952";
}
.icon-map-pin-range-line:before {
  content: "\e953";
}
.icon-map-pin-time-fill:before {
  content: "\e954";
}
.icon-map-pin-time-line:before {
  content: "\e955";
}
.icon-map-pin-user-fill:before {
  content: "\e956";
}
.icon-map-pin-user-line:before {
  content: "\e957";
}
.icon-motorbike-fill:before {
  content: "\e958";
}
.icon-motorbike-line:before {
  content: "\e959";
}
.icon-navigation-fill:before {
  content: "\e95a";
}
.icon-navigation-line:before {
  content: "\e95b";
}
.icon-oil-fill:before {
  content: "\e95c";
}
.icon-oil-line:before {
  content: "\e95d";
}
.icon-parking-box-fill:before {
  content: "\e95e";
}
.icon-parking-box-line:before {
  content: "\e95f";
}
.icon-parking-fill:before {
  content: "\e960";
}
.icon-parking-line:before {
  content: "\e961";
}
.icon-passport-fill:before {
  content: "\e962";
}
.icon-passport-line:before {
  content: "\e963";
}
.icon-pin-distance-fill:before {
  content: "\e964";
}
.icon-pin-distance-line:before {
  content: "\e965";
}
.icon-plane-fill:before {
  content: "\e966";
}
.icon-plane-line:before {
  content: "\e967";
}
.icon-police-car-fill:before {
  content: "\e968";
}
.icon-police-car-line:before {
  content: "\e969";
}
.icon-pushpin-2-fill:before {
  content: "\e96a";
}
.icon-pushpin-2-line:before {
  content: "\e96b";
}
.icon-pushpin-fill:before {
  content: "\e96c";
}
.icon-pushpin-line:before {
  content: "\e96d";
}
.icon-restaurant-2-fill:before {
  content: "\e96e";
}
.icon-restaurant-2-line:before {
  content: "\e96f";
}
.icon-restaurant-fill:before {
  content: "\e970";
}
.icon-restaurant-line:before {
  content: "\e971";
}
.icon-riding-fill:before {
  content: "\e972";
}
.icon-riding-line:before {
  content: "\e973";
}
.icon-road-map-fill:before {
  content: "\e974";
}
.icon-road-map-line:before {
  content: "\e975";
}
.icon-roadster-fill:before {
  content: "\e976";
}
.icon-roadster-line:before {
  content: "\e977";
}
.icon-rocket-2-fill:before {
  content: "\e978";
}
.icon-rocket-2-line:before {
  content: "\e979";
}
.icon-rocket-fill:before {
  content: "\e97a";
}
.icon-rocket-line:before {
  content: "\e97b";
}
.icon-route-fill:before {
  content: "\e97c";
}
.icon-route-line:before {
  content: "\e97d";
}
.icon-run-fill:before {
  content: "\e97e";
}
.icon-run-line:before {
  content: "\e97f";
}
.icon-sailboat-fill:before {
  content: "\e980";
}
.icon-sailboat-line:before {
  content: "\e981";
}
.icon-ship-2-fill:before {
  content: "\e982";
}
.icon-ship-2-line:before {
  content: "\e983";
}
.icon-ship-fill:before {
  content: "\e984";
}
.icon-ship-line:before {
  content: "\e985";
}
.icon-signal-tower-fill:before {
  content: "\e986";
}
.icon-signal-tower-line:before {
  content: "\e987";
}
.icon-space-ship-fill:before {
  content: "\e988";
}
.icon-space-ship-line:before {
  content: "\e989";
}
.icon-steering-2-fill:before {
  content: "\e98a";
}
.icon-steering-2-line:before {
  content: "\e98b";
}
.icon-steering-fill:before {
  content: "\e98c";
}
.icon-steering-line:before {
  content: "\e98d";
}
.icon-subway-fill:before {
  content: "\e98e";
}
.icon-subway-line:before {
  content: "\e98f";
}
.icon-subway-wifi-fill:before {
  content: "\e990";
}
.icon-subway-wifi-line:before {
  content: "\e991";
}
.icon-suitcase-2-fill:before {
  content: "\e992";
}
.icon-suitcase-2-line:before {
  content: "\e993";
}
.icon-suitcase-3-fill:before {
  content: "\e994";
}
.icon-suitcase-3-line:before {
  content: "\e995";
}
.icon-suitcase-fill:before {
  content: "\e996";
}
.icon-suitcase-line:before {
  content: "\e997";
}
.icon-takeaway-fill:before {
  content: "\e998";
}
.icon-takeaway-line:before {
  content: "\e999";
}
.icon-taxi-fill:before {
  content: "\e99a";
}
.icon-taxi-line:before {
  content: "\e99b";
}
.icon-taxi-wifi-fill:before {
  content: "\e99c";
}
.icon-taxi-wifi-line:before {
  content: "\e99d";
}
.icon-traffic-light-fill:before {
  content: "\e99e";
}
.icon-traffic-light-line:before {
  content: "\e99f";
}
.icon-train-fill:before {
  content: "\e9a0";
}
.icon-train-line:before {
  content: "\e9a1";
}
.icon-train-wifi-fill:before {
  content: "\e9a2";
}
.icon-train-wifi-line:before {
  content: "\e9a3";
}
.icon-treasure-map-fill:before {
  content: "\e9a4";
}
.icon-treasure-map-line:before {
  content: "\e9a5";
}
.icon-truck-fill:before {
  content: "\e9a6";
}
.icon-truck-line:before {
  content: "\e9a7";
}
.icon-walk-fill:before {
  content: "\e9a8";
}
.icon-walk-line:before {
  content: "\e9a9";
}
