.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100px;
  border-radius: var(--measurements-radius-full);
  border: 2px solid var(--border-base-surface);
  cursor: pointer;
}

.slider {

  height: 20px;
}

.thumb {

  display: block;
  width: 20px;
  height: 20px;
  border-radius: var(--measurements-radius-full);
  border: 1px solid var(--border-action-normal);
  background: var(--icon-base-static-white);
  box-shadow: 0 36px 80px 0 rgba(0, 0, 0, 0.05),
              0 13.141px 29.201px 0 rgba(0, 0, 0, 0.03),
              0 6.38px 14.177px 0 rgba(0, 0, 0, 0.03),
              0 3.127px 6.95px 0 rgba(0, 0, 0, 0.02),
              0 1.237px 2.748px 0 rgba(0, 0, 0, 0.02);

  &:hover {
    border: 1px solid var(--border-action-hover);
  }
}

.track {

  top: 6px;
  height: 8px;
  border-radius: var(--measurements-radius-full);
  background: var(--background-badge-purple-accent);

  & + & {
    background: var(--background-surface-neutral-subtle);
  }
}