@use '../../../../shared/styles/shadow/shadow-size.scss' as utils;

.wrapper {
  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  appearance: none;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-chip-primary);
  cursor: pointer;
  outline: none;
  font: inherit;
  @include utils.shadow-xs(rgba(20, 21, 26, 0.05));
  transition:
    border var(--measurements-transition),
    background var(--measurements-transition),
    color var(--measurements-transition),
    box-shadow var(--measurements-transition);
}

.wrapper:hover {
  border-color: var(--border-action-hover);
  background: var(--background-chip-primary-hover);
}

.wrapper:focus-visible {
  border-color: var(--border-action-focus-light);
  @include utils.shadow-focus(rgba(73, 133, 253, 0.25));
}

.lead-icon,
.tail-icon {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: var(--icon-base-secondary);
  transition: color var(--measurements-transition);
}

.label {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
  font-weight: var(--typography-weight-medium);
  text-align: center;
  white-space: nowrap;
  transition: color var(--measurements-transition);
}

.selected {
  border-color: var(--border-select-secondary);

  .lead-icon,
  .tail-icon {
    color: var(--icon-accent-primary-accent);
  }

  .label {
    color: var(--text-status-primary);
  }
}

.static {
  pointer-events: none;
  cursor: default;
}

.disabled,
.wrapper:disabled,
.disabled:hover,
.wrapper:disabled:hover {
  border-color: var(--border-action-disabled);
  background: var(--background-chip-primary-disabled);
  box-shadow: none;
  cursor: default;

  .lead-icon,
  .tail-icon {
    color: var(--icon-base-quaternary);
  }

  .label {
    color: var(--text-base-quaternary);
  }
}

.size {
  &--xl,
  &--lg {
    height: var(--numbers-36);
    gap: var(--numbers-4);
    padding: var(--numbers-8) var(--numbers-12);

    .lead-icon,
    .tail-icon {
      width: var(--numbers-20);
      height: var(--numbers-20);
      font-size: var(--typography-size-body-m);
    }

    .label {
      padding: 0 var(--numbers-4);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }
  }

  &--md {
    height: var(--numbers-32);
    gap: var(--numbers-4);
    padding: var(--numbers-6) var(--numbers-10);

    .lead-icon,
    .tail-icon {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }

    .label {
      padding: 0 var(--numbers-4);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }
  }

  &--sm {
    height: var(--numbers-24);
    gap: var(--numbers-2);
    padding: var(--numbers-4) var(--numbers-6);

    .lead-icon,
    .tail-icon {
      width: var(--numbers-16);
      height: var(--numbers-16);
      font-size: var(--typography-size-body-s);
    }

    .label {
      padding: 0 var(--numbers-4);
      font-size: var(--typography-size-caption-m);
      line-height: var(--typography-line-height-caption-m);
      letter-spacing: var(--typography-letter-spacing-caption-m);
    }
  }
}

.shape {
  &--rounded {
    &.size {
      &--xl,
      &--lg {
        border-radius: var(--measurements-radius-xl);
      }

      &--md {
        border-radius: var(--measurements-radius-lg);
      }

      &--sm {
        border-radius: var(--measurements-radius-md);
      }
    }
  }

  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}
