@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?h2l7iq');
  src:  url('./fonts/icomoon.eot?h2l7iq#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?h2l7iq') format('truetype'),
    url('./fonts/icomoon.woff?h2l7iq') format('woff'),
    url('./fonts/icomoon.svg?h2l7iq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blaze-fill:before {
  content: "\e900";
}
.icon-blaze-line:before {
  content: "\e901";
}
.icon-celsius-fill:before {
  content: "\e902";
}
.icon-celsius-line:before {
  content: "\e903";
}
.icon-cloud-windy-fill:before {
  content: "\e904";
}
.icon-cloud-windy-line:before {
  content: "\e905";
}
.icon-cloudy-2-fill:before {
  content: "\e906";
}
.icon-cloudy-2-line:before {
  content: "\e907";
}
.icon-cloudy-fill:before {
  content: "\e908";
}
.icon-cloudy-line:before {
  content: "\e909";
}
.icon-drizzle-fill:before {
  content: "\e90a";
}
.icon-drizzle-line:before {
  content: "\e90b";
}
.icon-earthquake-fill:before {
  content: "\e90c";
}
.icon-earthquake-line:before {
  content: "\e90d";
}
.icon-fahrenheit-fill:before {
  content: "\e90e";
}
.icon-fahrenheit-line:before {
  content: "\e90f";
}
.icon-fire-fill:before {
  content: "\e910";
}
.icon-fire-line:before {
  content: "\e911";
}
.icon-flashlight-fill:before {
  content: "\e912";
}
.icon-flashlight-line:before {
  content: "\e913";
}
.icon-flood-fill:before {
  content: "\e914";
}
.icon-flood-line:before {
  content: "\e915";
}
.icon-foggy-fill:before {
  content: "\e916";
}
.icon-foggy-line:before {
  content: "\e917";
}
.icon-hail-fill:before {
  content: "\e918";
}
.icon-hail-line:before {
  content: "\e919";
}
.icon-haze-2-fill:before {
  content: "\e91a";
}
.icon-haze-2-line:before {
  content: "\e91b";
}
.icon-haze-fill:before {
  content: "\e91c";
}
.icon-haze-line:before {
  content: "\e91d";
}
.icon-heavy-showers-fill:before {
  content: "\e91e";
}
.icon-heavy-showers-line:before {
  content: "\e91f";
}
.icon-meteor-fill:before {
  content: "\e920";
}
.icon-meteor-line:before {
  content: "\e921";
}
.icon-mist-fill:before {
  content: "\e922";
}
.icon-mist-line:before {
  content: "\e923";
}
.icon-moon-clear-fill:before {
  content: "\e924";
}
.icon-moon-clear-line:before {
  content: "\e925";
}
.icon-moon-cloudy-fill:before {
  content: "\e926";
}
.icon-moon-cloudy-line:before {
  content: "\e927";
}
.icon-moon-fill:before {
  content: "\e928";
}
.icon-moon-foggy-fill:before {
  content: "\e929";
}
.icon-moon-foggy-line:before {
  content: "\e92a";
}
.icon-moon-line:before {
  content: "\e92b";
}
.icon-rainbow-fill:before {
  content: "\e92c";
}
.icon-rainbow-line:before {
  content: "\e92d";
}
.icon-rainy-fill:before {
  content: "\e92e";
}
.icon-rainy-line:before {
  content: "\e92f";
}
.icon-showers-fill:before {
  content: "\e930";
}
.icon-showers-line:before {
  content: "\e931";
}
.icon-snowy-fill:before {
  content: "\e932";
}
.icon-snowy-line:before {
  content: "\e933";
}
.icon-sun-cloudy-fill:before {
  content: "\e934";
}
.icon-sun-cloudy-line:before {
  content: "\e935";
}
.icon-sun-fill:before {
  content: "\e936";
}
.icon-sun-foggy-fill:before {
  content: "\e937";
}
.icon-sun-foggy-line:before {
  content: "\e938";
}
.icon-sun-line:before {
  content: "\e939";
}
.icon-temp-cold-fill:before {
  content: "\e93a";
}
.icon-temp-cold-line:before {
  content: "\e93b";
}
.icon-temp-hot-fill:before {
  content: "\e93c";
}
.icon-temp-hot-line:before {
  content: "\e93d";
}
.icon-thunderstorms-fill:before {
  content: "\e93e";
}
.icon-thunderstorms-line:before {
  content: "\e93f";
}
.icon-tornado-fill:before {
  content: "\e940";
}
.icon-tornado-line:before {
  content: "\e941";
}
.icon-typhoon-fill:before {
  content: "\e942";
}
.icon-typhoon-line:before {
  content: "\e943";
}
.icon-windy-fill:before {
  content: "\e944";
}
.icon-windy-line:before {
  content: "\e945";
}
