.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-4) 0;
  border-radius: var(--measurements-radius-xl);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-modal-default);
  box-shadow: var(--measurements-shadows-lg);
}
