.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  border-radius: var(--measurements-radius-xl);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-input-normal);
  box-shadow: var(--measurements-shadows-xs);
  cursor: pointer;
  transition: var(--measurements-transition);
}

.wrapper:hover {

  border-color: var(--border-action-hover);
  background: var(--background-input-hover);
}

.focused,
.focused:hover {

  border: var(--numbers-1) solid var(--border-action-focus-light);
  background: var(--background-input-focus);
  box-shadow: 0 0 0 var(--numbers-2) rgba(200, 178, 255, 0.50);
}

.lead-icon,
.tail-icon,
.clearable,
.arrow {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  font-size: var(--typography-size-body-l);
  transition: var(--measurements-transition);
}

.lead-icon {
  margin: 0 var(--numbers-4) 0 0;
  color: var(--icon-base-tertiary);
}

.tail-icon {
  margin: 0 0 0 var(--numbers-4);
  color: var(--icon-base-tertiary);
}

.arrow {
  margin: 0 0 0 var(--numbers-4);
  color: var(--icon-base-quaternary);
}

.wrapper:hover .arrow {
  color: var(--icon-base-tertiary);
}

.focused .arrow {
  color: var(--icon-base-tertiary);
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 0 var(--numbers-4);
  overflow: auto;
}

.badge {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  padding: 0 var(--numbers-4);
}

.clearable {

  font-size: var(--numbers-16);
  color: var(--text-status-destructive);
  margin: 0 0 0 var(--numbers-4);
}

.size {
  &--medium {
    padding: var(--numbers-10) var(--numbers-6) var(--numbers-10) var(--numbers-12);
  }

  &--extra-small {
    padding: var(--numbers-6) var(--numbers-8);
  }
}

.fix-height {
  &.size {
    &--medium {
      max-height: var(--numbers-40);
    }

    &--extra-small {
      max-height: var(--numbers-32);
    }
  }
}


.destructive {

  border-color: var(--border-action-destructive);
  background: var(--background-input-normal);

  &:hover {

    border-color: var(--border-action-destructive-hover);
    background: var(--background-input-normal);
  }
}

.focused.destructive {
  border-color: var(--border-action-destructive-hover);
  background: var(--background-input-normal);
  box-shadow: 0 0 0 var(--numbers-2) rgba(255, 178, 178, 0.60);
}

.disabled,
.disabled:hover {

  border-color: var(--border-action-disabled);
  background: var(--background-input-disabled);

  .lead-icon,
  .tail-icon,
  .clearable,
  .arrow {
    color: var(--icon-base-quaternary);
  }
}