.wrapper {

  color: var(--text-base-secondary);
  font-size: var(--typography-size-body-m);
  line-height: var(--typography-line-height-body-m);
  letter-spacing: var(--typography-letter-spacing-body-m);
  font-weight: 400;
}

.variant {
  &--large {
    font-size: var(--typography-size-body-l);
    line-height: var(--typography-line-height-body-l);
    letter-spacing: var(--typography-letter-spacing-body-l);
  }

  &--compact {
    font-size: var(--typography-size-body-s);
    line-height: var(--typography-line-height-body-s);
    letter-spacing: var(--typography-letter-spacing-body-s);
  }
}