.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 1;
}

.option {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: var(--numbers-2) var(--numbers-6);
  cursor: pointer;
  overflow: hidden;
}