.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  outline: none;
}

.option {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: var(--numbers-2) var(--numbers-6);
  cursor: pointer;
  outline: none;
  overflow: auto;
}

.container {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: var(--numbers-6);
  border-radius: var(--measurements-radius-sm);
  overflow: auto;
  transition: var(--measurements-transition);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.selected-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  font-size: var(--typography-size-body-l);
}

.hover,
.selected {

  background: var(--background-overlay-active-normal);
}