@use "../../scss.utils.scss" as utils;

.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  border-radius: var(--measurements-radius-xxxl);
  border: 1px solid transparent;
  padding: utils.pxToVW(32px);
}

.icon {

   display: flex;
   flex-direction: row;
   flex: 0 0 auto;
   justify-content: center;
   align-items: center;
   width: utils.pxToVW(24px);
   height: utils.pxToVW(24px);
   font-size: var(--typography-size-h6);
   margin: 0 utils.pxToVW(24px) 0 0;
  color: var(--text-base-secondary);
}

.container {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  &--text {
    color: var(--text-base-secondary);
  }
}

.content {

  margin: utils.pxToVW(16px) 0 0;

  &--text {
    color: var(--text-base-secondary);
  }
}

.active {

  border-color: var(--border-base-alpha);
  background: var(--background-surface-default);
  box-shadow: 0 utils.pxToVW(1px) utils.pxToVW(2px) 0 rgba(20, 21, 26, 0.05);

  .icon {
    color: var(--text-base-primary);
  }

  .header {
    &--text {
      color: var(--text-base-primary);
    }
  }
}