.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--text-base-primary);
}

.expand-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  margin: 0 calc(var(--numbers-4) * -1) 0 var(--numbers-8);
  color: var(--text-base-primary);
  font-size: var(--typography-size-body-m);
}