.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
}

.lead-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 var(--numbers-6) 0 0;
  color: var(--icon-base-secondary);
}

.label {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-secondary);
}

.tail-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 0 0 var(--numbers-8);
  color: var(--icon-base-secondary);
}

.divider {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-items: center;
  margin: 0 0 0 var(--numbers-8);
  color: var(--icon-base-secondary);
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.size {
  &--sm {
    width: var(--numbers-14);
    height: var(--numbers-14);
    font-size: var(--numbers-12);
  }

  &--md {
    width: var(--numbers-16);
    height: var(--numbers-16);
    font-size: var(--numbers-14);
  }
}

.active {
  &.lead-icon,
  &.tail-icon,
  &.divider {
    color: var(--icon-base-primary);
  }

  &.label {
    color: var(--text-base-primary);
  }
}
