.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: var(--measurements-radius-xxl);
  background: var(--background-surface-default);
  box-shadow: 0 var(--numbers-1) var(--numbers-2) 0 rgba(20, 21, 26, 0.05);
  overflow: auto;
}