@use '../../../utils/shadow/shadow-size.scss' as utils;

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: var(--measurements-radius-xxl);
  background: var(--background-surface-default);
  @include utils.shadow-xs(rgba(20, 21, 26, 0.05));
  overflow: auto;
}
