@use "../../scss.utils.scss" as utils;

.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  border: none;
  font-size: var(--typography-size-body-s);
  line-height: var(--typography-line-height-body-s);
  letter-spacing: var(--typography-letter-spacing-body-s);
  color: var(--text-base-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  .lead-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: utils.pxToVW(20px);
    height: utils.pxToVW(20px);
    margin: 0 utils.pxToVW(4px) 0 0;
    color: var(--icon-base-secondary);
  }

  .tail-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: utils.pxToVW(20px);
    height: utils.pxToVW(20px);
    margin: 0 0 0 utils.pxToVW(4px);
    color: var(--icon-base-secondary);
  }

  .text {

    padding: 0 utils.pxToVW(4px);
  }
}

.mode {
  &--secondary {}

  &--tertiary {}

  &--ghost {}
}