@use "../scss.utils.scss" as utils;

:root {
  --numbers-0: 0;
  --numbers-1: #{utils.pxToVW(1px)};
  --numbers-1_5: #{utils.pxToVW(1.5px)};
  --numbers-2: #{utils.pxToVW(2px)};
  --numbers-3: #{utils.pxToVW(3px)};
  --numbers-4: #{utils.pxToVW(4px)};
  --numbers-5: #{utils.pxToVW(5px)};
  --numbers-6: #{utils.pxToVW(6px)};
  --numbers-7: #{utils.pxToVW(7px)};
  --numbers-8: #{utils.pxToVW(8px)};
  --numbers-9: #{utils.pxToVW(9px)};
  --numbers-10: #{utils.pxToVW(10px)};
  --numbers-12: #{utils.pxToVW(12px)};
  --numbers-14: #{utils.pxToVW(14px)};
  --numbers-16: #{utils.pxToVW(16px)};
  --numbers-18: #{utils.pxToVW(18px)};
  --numbers-20: #{utils.pxToVW(20px)};
  --numbers-24: #{utils.pxToVW(24px)};
  --numbers-26: #{utils.pxToVW(26px)};
  --numbers-28: #{utils.pxToVW(28px)};
  --numbers-30: #{utils.pxToVW(30px)};
  --numbers-32: #{utils.pxToVW(32px)};
  --numbers-33: #{utils.pxToVW(33px)};
  --numbers-36: #{utils.pxToVW(36px)};
  --numbers-40: #{utils.pxToVW(40px)};
  --numbers-44: #{utils.pxToVW(44px)};
  --numbers-48: #{utils.pxToVW(48px)};
  --numbers-52: #{utils.pxToVW(52px)};
  --numbers-54: #{utils.pxToVW(54px)};
  --numbers-56: #{utils.pxToVW(56px)};
  --numbers-64: #{utils.pxToVW(72px)};
  --numbers-72: #{utils.pxToVW(72px)};
  --numbers-80: #{utils.pxToVW(80px)};
  --numbers-82: #{utils.pxToVW(82px)};
  --numbers-86: #{utils.pxToVW(86px)};
  --numbers-94: #{utils.pxToVW(94px)};
  --numbers-96: #{utils.pxToVW(96px)};
  --numbers-100: #{utils.pxToVW(100px)};
  --numbers-112: #{utils.pxToVW(112px)};
  --numbers-120: #{utils.pxToVW(120px)};
  --numbers-128: #{utils.pxToVW(128px)};
  --numbers-133: #{utils.pxToVW(133px)};
  --numbers-138: #{utils.pxToVW(138px)};
  --numbers-144: #{utils.pxToVW(144px)};
  --numbers-160: #{utils.pxToVW(160px)};
  --numbers-165: #{utils.pxToVW(165px)};
  --numbers-172: #{utils.pxToVW(172px)};
  --numbers-192: #{utils.pxToVW(192px)};
  --numbers-203: #{utils.pxToVW(203px)};
  --numbers-224: #{utils.pxToVW(224px)};
  --numbers-232: #{utils.pxToVW(232px)};
  --numbers-256: #{utils.pxToVW(256px)};
  --numbers-260: #{utils.pxToVW(260px)};
  --numbers-266: #{utils.pxToVW(266px)};
  --numbers-288: #{utils.pxToVW(288px)};
  --numbers-320: #{utils.pxToVW(320px)};
  --numbers-360: #{utils.pxToVW(360px)};
  --numbers-390: #{utils.pxToVW(390px)};
  --numbers-400: #{utils.pxToVW(400px)};
  --numbers-480: #{utils.pxToVW(480px)};
  --numbers-588: #{utils.pxToVW(588px)};
  --numbers-792: #{utils.pxToVW(792px)};
  --numbers-844: #{utils.pxToVW(844px)};
  --numbers-999: #{utils.pxToVW(999px)};
  --numbers-1024: #{utils.pxToVW(1024px)};
  --numbers-1440: #{utils.pxToVW(1440px)};
}