:root {
  --numbers-0: 0;
  --numbers-1: 1px;
  --numbers-1_5: 1.5px;
  --numbers-2: 2px;
  --numbers-3: 3px;
  --numbers-4: 4px;
  --numbers-5: 5px;
  --numbers-6: 6px;
  --numbers-7: 7px;
  --numbers-8: 8px;
  --numbers-9: 9px;
  --numbers-10: 10px;
  --numbers-12: 12px;
  --numbers-14: 14px;
  --numbers-16: 16px;
  --numbers-18: 18px;
  --numbers-20: 20px;
  --numbers-24: 24px;
  --numbers-26: 26px;
  --numbers-28: 28px;
  --numbers-30: 30px;
  --numbers-32: 32px;
  --numbers-33: 33px;
  --numbers-36: 36px;
  --numbers-40: 40px;
  --numbers-44: 44px;
  --numbers-48: 48px;
  --numbers-52: 52px;
  --numbers-54: 54px;
  --numbers-56: 56px;
  --numbers-64: 72px;
  --numbers-72: 72px;
  --numbers-80: 80px;
  --numbers-82: 82px;
  --numbers-86: 86px;
  --numbers-94: 94px;
  --numbers-96: 96px;
  --numbers-100: 100px;
  --numbers-112: 112px;
  --numbers-120: 120px;
  --numbers-128: 128px;
  --numbers-133: 133px;
  --numbers-138: 138px;
  --numbers-144: 144px;
  --numbers-160: 160px;
  --numbers-165: 165px;
  --numbers-172: 172px;
  --numbers-192: 192px;
  --numbers-203: 203px;
  --numbers-224: 224px;
  --numbers-232: 232px;
  --numbers-256: 256px;
  --numbers-260: 260px;
  --numbers-266: 266px;
  --numbers-288: 288px;
  --numbers-320: 320px;
  --numbers-360: 360px;
  --numbers-390: 390px;
  --numbers-400: 400px;
  --numbers-480: 480px;
  --numbers-588: 588px;
  --numbers-792: 792px;
  --numbers-844: 844px;
  --numbers-999: 999px;
  --numbers-1024: 1024px;
  --numbers-1440: 1440px;
}