@use "../../scss.utils.scss" as utils;

.wrapper {

  display: inline-block;
  width: utils.pxToVW(106px);
  height: utils.pxToVW(32px);
  background: url("./logo.svg") no-repeat;
  background-size: contain;
}

:root[data-theme="dark"] {
  .wrapper {
    background: url("./logo-inverted.svg") no-repeat;
    background-size: contain;
  }
}