@use "../../scss.utils.scss" as utils;

:root {

  --typography-line-height-h1: #{utils.pxToVW(80px)};
  --typography-line-height-h2: #{utils.pxToVW(72px)};
  --typography-line-height-h3: #{utils.pxToVW(56px)};
  --typography-line-height-h4: #{utils.pxToVW(44px)};
  --typography-line-height-h5: #{utils.pxToVW(36px)};
  --typography-line-height-h6: #{utils.pxToVW(32px)};

  --typography-line-height-body-l: #{utils.pxToVW(28px)};
  --typography-line-height-body-m: #{utils.pxToVW(26px)};
  --typography-line-height-body-s: #{utils.pxToVW(24px)};

  --typography-line-height-caption-l: #{utils.pxToVW(20px)};
  --typography-line-height-caption-m: #{utils.pxToVW(16px)};
  --typography-line-height-caption-s: #{utils.pxToVW(14px)};
}