@use "../../scss.utils.scss" as utils;

:root {

  --typography-letter-spacing-h1: #{utils.pxToVW(-2.200000047683716px)};
  --typography-letter-spacing-h2: #{utils.pxToVW(-1.7000000476837158px)};
  --typography-letter-spacing-h3: #{utils.pxToVW(-1px)};
  --typography-letter-spacing-h4: #{utils.pxToVW(-0.699999988079071px)};
  --typography-letter-spacing-h5: #{utils.pxToVW(-0.5px)};
  --typography-letter-spacing-h6: #{utils.pxToVW(-0.30000001192092896px)};

  --typography-letter-spacing-body-l: #{utils.pxToVW(-0.20000000298023224px)};
  --typography-letter-spacing-body-m: #{utils.pxToVW(-0.20000000298023224px)};
  --typography-letter-spacing-body-s: #{utils.pxToVW(-0.20000000298023224px)};

  --typography-letter-spacing-caption-l: #{utils.pxToVW(-0.10000000149011612px)};
  --typography-letter-spacing-caption-m: 0;
  --typography-letter-spacing-caption-s: 0;
}