@use '../../../utils/shadow/shadow-size.scss' as utils;

.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  border-radius: var(--measurements-radius-xl);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-input-normal);
  @include utils.shadow-xs(rgba(20, 21, 26, 0.05));
  transition: var(--measurements-transition);
}

.wrapper:hover {

  border-color: var(--border-action-hover);
  background: var(--background-input-hover);
}

.focused,
.focused:hover {

  border: var(--numbers-1) solid var(--border-action-focus-light);
  background: var(--background-input-focus);
  @include utils.shadow-focus(rgba(200, 178, 255, 0.50));
}

.lead-icon,
.tail-icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-20);
  height: var(--numbers-20);
  font-size: var(--numbers-16);
  color: var(--text-base-tertiary);
}

.lead-icon {
  margin: 0 var(--numbers-4) 0 0;
}

.tail-icon {
  margin: 0 0 0 var(--numbers-4);
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 0 var(--numbers-4);
}

.input {

  display: block;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  background: transparent;
  color: var(--text-base-primary);
  font-size: var(--typography-size-caption-l);
  font-weight: var(--typography-weight-regular);
  line-height: var(--typography-line-height-caption-l);
  letter-spacing: var(--typography-letter-spacing-caption-l);
}

.input::placeholder {
  color: var(--text-base-tertiary);
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--background-input-normal) inset;
  box-shadow: 0 0 0 1000px var(--background-input-normal) inset;
  -webkit-text-fill-color: var(--text-base-primary);
}

.badge {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  padding: 0 var(--numbers-4);
}

.size {
  &--medium {
    max-height: var(--numbers-40);
    padding: var(--numbers-10) var(--numbers-12);
  }

  &--extra-small {
    max-height: var(--numbers-32);
    padding: var(--numbers-6) var(--numbers-8);
  }
}

.destructive {

  border-color: var(--border-action-destructive);
  background: var(--background-input-normal);

  &:hover {

    border-color: var(--border-action-destructive-hover);
    background: var(--background-input-normal);
  }
}

.focused.destructive {
  border-color: var(--border-action-destructive-hover);
  background: var(--background-input-normal);
  @include utils.shadow-focus(rgba(255, 178, 178, 0.60));
}

.disabled,
.disabled:hover {

  border-color: var(--border-action-disabled);
  background: var(--background-input-disabled);

  .lead-icon,
  .tail-icon {
    color: var(--icon-base-quaternary);
  }

  .input {
    color: var(--icon-base-quaternary);
  }
}
