.wrapper {

  background: transparent;
  z-index: 0;
}

.cell {

  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: var(--numbers-64);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
}

.pined {
  position: sticky;
  z-index: 10;
}
