.wrapper {

  background: transparent;
}

.cell {

  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: var(--numbers-64);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  overflow: auto;
}