.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  border: 1px solid var(--border-action-normal);
  background: var(--background-chip-primary);
  box-shadow: var(--measurements-shadows-xs);
  cursor: pointer;

  &:hover {
    background: var(--background-chip-primary--hover);
  }
}

.lead-slot {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
  color: var(--icon-base-secondary);
}

.close {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 4px;
  font-size: var(--typography-size-body-l);
  color: var(--text-accent-purple-tertiary);
}

.label {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
  padding: 0 4px;
}

.active {

  border-color: var(--border-select-secondary);
  background: var(--background-chip-primary);

  .lead-slot {
    color: var(--icon-accent-purple-accent);
  }

  .label {
    color: var(--text-accent-purple-accent);
  }
}

.disabled,
.disabled:hover {

  border-color: var(--border-action-disabled);
  background: var(--background-chip-primary--disabled);
  box-shadow: none;

  .lead-slot {
    color: var(--icon-base-quaternary);
  }

  .label {
    color: var(--text-base-quaternary);
  }

  .close {
    color: var(--icon-base-quaternary);
  }
}

.size {
  &--lg {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-xl);
      }
    }

    height: 36px;
    padding: 8px 12px;

    .lead-slot {
      width: 20px;
      height: 20px;
      font-size: var(--typography-size-body-m);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }

    .close {
      width: 20px;
      height: 20px;
      font-size: var(--typography-size-body-m);
    }
  }

  &--md {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-lg);
      }
    }

    height: 32px;
    padding: 6px 10px;

    .lead-slot {
      width: 16px;
      height: 16px;
      font-size: var(--typography-size-body-s);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-l);
      line-height: var(--typography-line-height-caption-l);
      letter-spacing: var(--typography-letter-spacing-caption-l);
    }

    .close {
      width: 16px;
      height: 16px;
      font-size: var(--typography-size-body-s);
    }
  }

  &--sm {
    &.shape {
      &--rounded {
        border-radius: var(--measurements-radius-md);
      }
    }

    height: 24px;
    padding: 4px 8px;

    .lead-slot {
      width: 16px;
      height: 16px;
      font-size: var(--typography-size-body-s);
    }

    .label {
      font-weight: var(--typography-weight-semi-bold);
      font-size: var(--typography-size-caption-m);
      line-height: var(--typography-line-height-caption-m);
      letter-spacing: var(--typography-letter-spacing-caption-m);
    }

    .close {
      width: 16px;
      height: 16px;
      font-size: var(--typography-size-body-s);
    }
  }
}

.shape {
  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}