.cellContent {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  padding: 0 var(--numbers-12);
  min-height: var(--numbers-64);
}

.collapse {
  padding: 0;
}
