:root {

  /******** LIGHT ********************************************* DARK *************/

  --colors-base-white: #FFFFFF; // --colors-base-dark-1

  --colors-base-dark-0: #000000;
  --colors-base-dark-1: #0B0C0E;

  --colors-base-transparent: #{rgba(#FFFFFF, 0.01%)};
}