:root {

  /******** LIGHT ******************************************** DARK *************/

  --colors-purple-1: #F7F1FD;
  --colors-purple-2: #ECDFFB;
  --colors-purple-3: #E1CDF9;
  --colors-purple-4: #D8C0F7;
  --colors-purple-5: #CDAEF4;
  --colors-purple-6: #B78AF0;
  --colors-purple-7: #A265EB;
  --colors-purple-8: #924FE8;
  --colors-purple-9: #741DE2;
  --colors-purple-10: #6619C7;
  --colors-purple-11: #5314A3;
  --colors-purple-12: #3A0F71;
  --colors-purple-13: #1C0736;

  --colors-purple-1a: #{rgba(#873DE6, 10%)};
  --colors-purple-2a: #{rgba(#873DE6, 15%)};
  --colors-purple-3a: #{rgba(#873DE6, 20%)};
  --colors-purple-4a: #{rgba(#873DE6, 25%)};
  --colors-purple-5a: #{rgba(#873DE6, 30%)};
  --colors-purple-6a: #{rgba(#873DE6, 40%)};
  --colors-purple-7a: #{rgba(#873DE6, 50%)};
  --colors-purple-8a: #{rgba(#873DE6, 60%)};
  --colors-purple-9a: #{rgba(#873DE6, 70%)};
  --colors-purple-10a: #{rgba(#873DE6, 80%)};
  --colors-purple-11a: #{rgba(#873DE6, 90%)};
}