:root {

  /******** LIGHT ********************************************* DARK *************/

  --colors-gray-1: #F7F7F8;                      // --colors-gray-13
  --colors-gray-2: #E9EAEC;                      // --colors-gray-12
  --colors-gray-3: #DEE0E3;                      // --colors-gray-11
  --colors-gray-4: #C8CAD0;                      // --colors-gray-10
  --colors-gray-5: #BABDC5;                      // --colors-gray-9
  --colors-gray-6: #9EA2AD;                      // --colors-gray-8
  --colors-gray-7: #7E869A;                      // --colors-gray-7
  --colors-gray-8: #717684;                      // --colors-gray-6
  --colors-gray-9: #5E636E;                      // --colors-gray-5
  --colors-gray-10: #464A53;                     // --colors-gray-4
  --colors-gray-11: #333333;                     // --colors-gray-3
  --colors-gray-12: #1F2228;                     // --colors-gray-2
  --colors-gray-13: #14151A;                     // --colors-gray-1

  --colors-gray-1a: #{rgba(#0A0F29, 4%)};        // --colors-white-1
  --colors-gray-2a: #{rgba(#0A0F29, 8%)};        // --colors-white-2
  --colors-gray-3a: #{rgba(#0A0F29, 14%)};       // --colors-white-3
  --colors-gray-4a: #{rgba(#0A0F29, 20%)};       // --colors-white-4
  --colors-gray-5a: #{rgba(#0A0F29, 25%)};       // --colors-white-5
  --colors-gray-6a: #{rgba(#0D1126, 30%)};       // --colors-white-6
  --colors-gray-7a: #{rgba(#0F1324, 40%)};       // --colors-white-7
  --colors-gray-8a: #{rgba(#0F1324, 50%)};       // --colors-white-8
  --colors-gray-9a: #{rgba(#0F1324, 60%)};       // --colors-white-9
  --colors-gray-10a: #{rgba(#0F1324, 70%)};      // --colors-white-10
  --colors-gray-11a: #{rgba(#0F1324, 80%)};      // --colors-white-11
  --colors-gray-12a: #{rgba(#0F1324, 90%)};      // --colors-white-12
  --colors-gray-13a: #{rgba(#0F1324, 95%)};      // --colors-white-13

  --colors-white-1: #{rgba(#FFFFFF, 8%)};
  --colors-white-2: #{rgba(#FFFFFF, 14%)};
  --colors-white-3: #{rgba(#FFFFFF, 18%)};
  --colors-white-4: #{rgba(#FFFFFF, 24%)};
  --colors-white-5: #{rgba(#FFFFFF, 32%)};
  --colors-white-6: #{rgba(#FFFFFF, 40%)};
  --colors-white-7: #{rgba(#FFFFFF, 46%)};
  --colors-white-8: #{rgba(#FFFFFF, 50%)};
  --colors-white-9: #{rgba(#FFFFFF, 60%)};
  --colors-white-10: #{rgba(#FFFFFF, 70%)};
  --colors-white-11: #{rgba(#FFFFFF, 80%)};
  --colors-white-12: #{rgba(#FFFFFF, 90%)};
  --colors-white-13: #{rgba(#FFFFFF, 95%)};
}