:root {

  --colors-green-1: #EDFDF4;
  --colors-green-2: #D1FAE4;
  --colors-green-3: #C3F8DC;
  --colors-green-4: #9AF4C3;
  --colors-green-5: #8CE8B6;
  --colors-green-6: #6AE1A1;
  --colors-green-7: #40D986;
  --colors-green-8: #26BD6C;
  --colors-green-9: #21A65E;
  --colors-green-10: #1D9052;
  --colors-green-11: #166E3F;
  --colors-green-12: #0F4C2C;
  --colors-green-13: #072213;

  --colors-green-1a: rgba(38, 189, 108, 10%);
  --colors-green-2a: rgba(38, 189, 108, 15%);
  --colors-green-3a: rgba(38, 189, 108, 20%);
  --colors-green-4a: rgba(38, 189, 108, 25%);
  --colors-green-5a: rgba(38, 189, 108, 30%);
  --colors-green-6a: rgba(38, 189, 108, 40%);
  --colors-green-7a: rgba(38, 189, 108, 50%);
  --colors-green-8a: rgba(38, 189, 108, 60%);
  --colors-green-9a: rgba(38, 189, 108, 70%);
  --colors-green-10a: rgba(38, 189, 108, 80%);
  --colors-green-11a: rgba(38, 189, 108, 90%);
}