:root {

  /******** LIGHT ******************************************** DARK *************/

  --colors-red-1: #FDF2F1;
  --colors-red-2: #FCE5E4;
  --colors-red-3: #F9D4D2;
  --colors-red-4: #F7C3C0;
  --colors-red-5: #F5B2AD;
  --colors-red-6: #F08B85;
  --colors-red-7: #EB6960;
  --colors-red-8: #E6483D;
  --colors-red-9: #D9281C;
  --colors-red-10: #BE2318;
  --colors-red-11: #9A1C13;
  --colors-red-12: #64120D;
  --colors-red-13: #360A07;

  --colors-red-1a: #{rgba(#E6483D, 10%)};
  --colors-red-2a: #{rgba(#E6483D, 15%)};
  --colors-red-3a: #{rgba(#E6483D, 20%)};
  --colors-red-4a: #{rgba(#E6483D, 25%)};
  --colors-red-5a: #{rgba(#E6483D, 30%)};
  --colors-red-6a: #{rgba(#E6483D, 40%)};
  --colors-red-7a: #{rgba(#E6483D, 50%)};
  --colors-red-8a: #{rgba(#E6483D, 60%)};
  --colors-red-9a: #{rgba(#E6483D, 70%)};
  --colors-red-10a: #{rgba(#E6483D, 80%)};
  --colors-red-11a: #{rgba(#E6483D, 90%)};
}