@use '../../utils/shadow/shadow-size.scss' as utils;

.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: var(--numbers-360);
  margin: auto;
  border-radius: var(--measurements-radius-xxl);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-surface-default);
  @include utils.shadow-lg(rgba(20, 21, 26, 0.08));
}

.overlay {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-24);
  backdrop-filter: blur(var(--numbers-1));
  background: var(--colors-gray-6a);
}

.close {

  position: absolute;
  top: var(--numbers-16);
  right: var(--numbers-16);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-24);
  height: var(--numbers-24);
  font-size: var(--numbers-24);
  align-items: center;
  justify-content: center;
  border-radius: var(--measurements-radius-full);
  background: var(--background-button-tetriary);
  color: var(--icon-base-secondary);
  cursor: pointer;
  transition: var(--measurements-transition);

  &:hover {

    color: var(--icon-base-primary);
    background: var(--background-button-tetriary-hover);
  }
}
