@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?8fhv8k');
  src:  url('./fonts/icomoon.eot?8fhv8k#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?8fhv8k') format('truetype'),
    url('./fonts/icomoon.woff?8fhv8k') format('woff'),
    url('./fonts/icomoon.svg?8fhv8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basketball-fill:before {
  content: "\e900";
}
.icon-basketball-line:before {
  content: "\e901";
}
.icon-bell-fill:before {
  content: "\e902";
}
.icon-bell-line:before {
  content: "\e903";
}
.icon-billiards-fill:before {
  content: "\e904";
}
.icon-billiards-line:before {
  content: "\e905";
}
.icon-boxing-fill:before {
  content: "\e906";
}
.icon-boxing-line:before {
  content: "\e907";
}
.icon-cactus-fill:before {
  content: "\e908";
}
.icon-cactus-line:before {
  content: "\e909";
}
.icon-cake-2-fill:before {
  content: "\e90a";
}
.icon-cake-2-line:before {
  content: "\e90b";
}
.icon-cake-3-fill:before {
  content: "\e90c";
}
.icon-cake-3-line:before {
  content: "\e90d";
}
.icon-cake-fill:before {
  content: "\e90e";
}
.icon-cake-line:before {
  content: "\e90f";
}
.icon-character-recognition-fill:before {
  content: "\e910";
}
.icon-character-recognition-line:before {
  content: "\e911";
}
.icon-checkmark-fill:before {
  content: "\e912";
}
.icon-checkmark-line:before {
  content: "\e913";
}
.icon-door-closed-fill:before {
  content: "\e914";
}
.icon-door-closed-line:before {
  content: "\e915";
}
.icon-door-fill:before {
  content: "\e916";
}
.icon-door-line:before {
  content: "\e917";
}
.icon-door-lock-box-fill:before {
  content: "\e918";
}
.icon-door-lock-box-line:before {
  content: "\e919";
}
.icon-door-lock-fill:before {
  content: "\e91a";
}
.icon-door-lock-line:before {
  content: "\e91b";
}
.icon-door-open-fill:before {
  content: "\e91c";
}
.icon-door-open-line:before {
  content: "\e91d";
}
.icon-football-fill:before {
  content: "\e91e";
}
.icon-football-line:before {
  content: "\e91f";
}
.icon-fridge-fill:before {
  content: "\e920";
}
.icon-fridge-line:before {
  content: "\e921";
}
.icon-game-fill:before {
  content: "\e922";
}
.icon-game-line:before {
  content: "\e923";
}
.icon-handbag-fill:before {
  content: "\e924";
}
.icon-handbag-line:before {
  content: "\e925";
}
.icon-key-2-fill:before {
  content: "\e926";
}
.icon-key-2-line:before {
  content: "\e927";
}
.icon-key-fill:before {
  content: "\e928";
}
.icon-key-line:before {
  content: "\e929";
}
.icon-knife-blood-fill:before {
  content: "\e92a";
}
.icon-knife-fill:before {
  content: "\e92b";
}
.icon-knife-line:before {
  content: "\e92c";
}
.icon-leaf-fill:before {
  content: "\e92d";
}
.icon-leaf-line:before {
  content: "\e92e";
}
.icon-lightbulb-fill:before {
  content: "\e92f";
}
.icon-lightbulb-flash-fill:before {
  content: "\e930";
}
.icon-lightbulb-flash-line:before {
  content: "\e931";
}
.icon-lightbulb-line:before {
  content: "\e932";
}
.icon-outlet-2-fill:before {
  content: "\e933";
}
.icon-outlet-2-line:before {
  content: "\e934";
}
.icon-outlet-fill:before {
  content: "\e935";
}
.icon-outlet-line:before {
  content: "\e936";
}
.icon-ping-pong-fill:before {
  content: "\e937";
}
.icon-ping-pong-line:before {
  content: "\e938";
}
.icon-plant-fill:before {
  content: "\e939";
}
.icon-plant-line:before {
  content: "\e93a";
}
.icon-plug-2-fill:before {
  content: "\e93b";
}
.icon-plug-2-line:before {
  content: "\e93c";
}
.icon-plug-fill:before {
  content: "\e93d";
}
.icon-plug-line:before {
  content: "\e93e";
}
.icon-recycle-fill:before {
  content: "\e93f";
}
.icon-recycle-line:before {
  content: "\e940";
}
.icon-reserved-fill:before {
  content: "\e941";
}
.icon-reserved-line:before {
  content: "\e942";
}
.icon-scales-2-fill:before {
  content: "\e943";
}
.icon-scales-2-line:before {
  content: "\e944";
}
.icon-scales-3-fill:before {
  content: "\e945";
}
.icon-scales-3-line:before {
  content: "\e946";
}
.icon-scales-fill:before {
  content: "\e947";
}
.icon-scales-line:before {
  content: "\e948";
}
.icon-seedling-fill:before {
  content: "\e949";
}
.icon-seedling-line:before {
  content: "\e94a";
}
.icon-shirt-fill:before {
  content: "\e94b";
}
.icon-shirt-line:before {
  content: "\e94c";
}
.icon-sword-fill:before {
  content: "\e94d";
}
.icon-sword-line:before {
  content: "\e94e";
}
.icon-t-shirt-2-fill:before {
  content: "\e94f";
}
.icon-t-shirt-2-line:before {
  content: "\e950";
}
.icon-t-shirt-air-fill:before {
  content: "\e951";
}
.icon-t-shirt-air-line:before {
  content: "\e952";
}
.icon-t-shirt-fill:before {
  content: "\e953";
}
.icon-t-shirt-line:before {
  content: "\e954";
}
.icon-umbrella-fill:before {
  content: "\e955";
}
.icon-umbrella-line:before {
  content: "\e956";
}
.icon-voice-recognition-fill:before {
  content: "\e957";
}
.icon-voice-recognition-line:before {
  content: "\e958";
}
.icon-wheelchair-fill:before {
  content: "\e959";
}
.icon-wheelchair-line:before {
  content: "\e95a";
}
