.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
}

.lead-icon {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-16);
  height: var(--numbers-16);
  font-size: var(--numbers-14);
  padding: var(--numbers-2) 0;
}

.caption {

  display: block;
  margin: 0 0 0 var(--numbers-4);
}

.state {
  &--default {
    color: var(--text-base-tertiary);
  }

  &--info {
    color: var(--text-status-info);
  }

  &--success {
    color: var(--text-status-success);
  }

  &--destructive {
    color: var(--text-status-destructive);
  }
}
