.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: var(--measurements-radius-lg);
  border: var(--numbers-1) solid var(--border-action-normal);
  overflow: hidden;
}

.table {

  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  caption-side: bottom;
}

.head {

  background: var(--background-surface-neutral);
}

.tbody {

  background: var(--background-surface-default);
}

.caption {

  border-top: var(--numbers-1) solid var(--border-base-divider);
}