.row {
  display: contents;

  &:hover .cell {
      background-color: var(--background-surface-neutral);
  }

  & + & {
    .cell {
      border-top: var(--numbers-1) solid var(--border-base-divider);
    }
  }
}

.selected {
  .cell {
    background-color: var(--background-surface-neutral);
  }
}

.cell {
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: var(--background-surface-default);
  transition: background var(--measurements-transition);
  z-index: 0;
}

.align {
  &--right {
    justify-content: right;

  }

  &--center {
    justify-content: center;
  }
}
