.wrapper {

  border-radius: var(--measurements-radius-lg);
  border: var(--numbers-1) solid var(--border-base-divider);
}

.table {
  display: contents;
  border-collapse: collapse;
}

.head {
  display: contents;

}

.header {
  display: contents;
}

.title {

  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  background: var(--background-surface-neutral);
  min-height: var(--numbers-36);
  padding: 0 var(--numbers-12);
  color: var(--text-primary);
  border-bottom: var(--numbers-1) solid var(--border-base-divider);
  z-index: 0;
}

.body {
  display: contents;
}

.row {
  display: contents;

  & + & {
    .cell {
      border-top: var(--numbers-1) solid var(--border-base-divider);
    }
  }
}

.cell {
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: var(--background-surface-default);
  z-index: 0;
}

.cellContent {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  padding: 0 var(--numbers-12);
  min-height: var(--numbers-64);
}

.select {

  display: flex;
  margin: 0 var(--numbers-12) 0 0;
}

.align {
  &--right {
    justify-content: right;

  }

  &--center {
    justify-content: center;
  }
}
