.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  box-shadow: 0 var(--numbers-1) var(--numbers-2) 0 rgba(20, 21, 26, 0.05);
  transition: background-color var(--measurements-transition),
              box-shadow       var(--measurements-transition),
              border           var(--measurements-transition),
              color            var(--measurements-transition);

  .lead-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 var(--numbers-4) 0 0;
    transition: color var(--measurements-transition);
  }

  .text {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    transition: color var(--measurements-transition);
  }

  .badge {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  .tail-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 var(--numbers-4);
    transition: color var(--measurements-transition);
  }

  &:focus, &:active {
    box-shadow: 0 0 0 var(--numbers-2) rgba(200, 178, 255, 0.50);
  }
}

.size {
  &--large {

    height: var(--numbers-48);
    padding: var(--numbers-12) var(--numbers-16);
    font-size: var(--typography-size-body-s);
    line-height: var(--typography-line-height-body-s);
    letter-spacing: var(--typography-letter-spacing-body-s);

    .lead-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-4);
    }

    .tail-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }
  }

  &--medium {

    height: var(--numbers-40);
    padding: var(--numbers-10) var(--numbers-12);
    font-size: var(--typography-size-caption-l);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);

    .lead-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-3);
    }


    .tail-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }
  }

  &--small {

    height: var(--numbers-32);
    padding: var(--numbers-6) var(--numbers-10);
    font-size: var(--typography-size-caption-l);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);

    .lead-icon {

      width: var(--numbers-16);
      height: var(--numbers-16);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-3);
    }

    .tail-icon {

      width: var(--numbers-16);
      height: var(--numbers-16);
    }
  }

  &--extra-small {

    height: var(--numbers-24);
    padding: var(--numbers-4) var(--numbers-8);
    font-size: var(--typography-size-caption-m);
    line-height: var(--typography-line-height-caption-m);
    letter-spacing: var(--typography-letter-spacing-caption-m);

    .lead-icon {

      width: var(--numbers-14);
      height: var(--numbers-14);
    }

    .badge {
      padding: 0 var(--numbers-2);
    }

    .tail-icon {

      width: var(--numbers-14);
      height: var(--numbers-14);
    }
  }
}

.style {
  &--primary {

    background: var(--background-button-primary);

    .text {
      color: var(--text-base-inverted);
    }

    .lead-icon,
    .tail-icon {
      color: var(--icon-base-inverted);
    }

    &:hover {
      background: var(--background-button-primary-hover);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-primary-disabled);
    }
  }

  &--secondary {

    color: var(--text-base-secondary);
    background: var(--background-button-secondary);
    border: var(--numbers-1) solid var(--border-action-normal);

    .text {
      color: var(--text-base-primary);
    }

    .lead-icon,
    .tail-icon {
      color: var(--icon-base-secondary);
    }

    &:hover {
      border-color: var(--border-action-hover);
      background: var(--background-button-secondary-hover);
    }

    &:focus, &:active {
      border-color: var(--border-action-focus-light);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      border-color: var(--border-action-disabled);
      background: var(--background-button-secondary-disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .lead-icon,
      .tail-icon {
        color: var(--icon-base-quaternary);
      }
    }
  }

  &--tertiary {

    color: var(--text-base-secondary);
    background: var(--background-button-tertiary);

    .text {
      color: var(--text-base-primary);
    }

    .lead-icon,
    .tail-icon {
      color: var(--text-base-secondary);
    }

    &:hover {
      background: var(--background-button-tertiary-hover);
    }

    &:focus, &:active {
      border: var(--numbers-1) solid var(--border-action-focus-light);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-tertiary-disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .lead-icon,
      .tail-icon {
        color: var(--icon-base-quaternary);
      }
    }
  }

  &--ghost {

    color: var(--text-base-secondary);
    background: var(--background-button-ghost);
    box-shadow: none;

    .text {
      color: var(--text-base-secondary);
    }

    .lead-icon,
    .tail-icon {
      color: var(--text-base-secondary);
    }

    &:hover {
      background: var(--background-button-ghost-hover);
    }

    &:focus, &:active {
      border: var(--numbers-1) solid var(--border-action-focus-light);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-ghost-disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .lead-icon,
      .tail-icon {
        color: var(--icon-base-quaternary);
      }
    }
  }
}

.target {
  &--destructive {
    &.style {
      &--primary {

        background: var(--background-button-destructive);

        .text {
          color: var(--text-base-static-white);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-base-static-white);
        }

        &:hover {
          background: var(--background-button-destructive-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(255, 178, 178, 0.60);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          background: var(--background-button-destructive-disabled);
        }
      }

      &--secondary {

        border-color: var(--border-action-destructive);
        background: var(--background-button-destructive-secondary);

        .text {
          color: var(--icon-status-destructive);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-destructive-secondary);
        }

        &:hover {
          border-color: var(--border-action-destructive-hover);
          background: var(--background-button-destructive-secondary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(255, 178, 178, 0.60);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          border-color: var(--border-action-destructive-disabled);
          background: var(--background-button-destructive-secondary-disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }
        }
      }

      &--tertiary {

        background: var(--background-button-destructive-tetriary);

        .text {
          color: var(--text-status-destructive);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-destructive);
        }

        &:hover {
          background: var(--background-button-destructive-tetriary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(255, 178, 178, 0.60);
          border-color: var(--border-action-focus-destructive-light);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          background: var(--background-button-destructive-tetriary-disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }
        }
      }

      &--ghost {

        color: var(--text-status-destructive-secondary);
        border-color: var(--background-button-destructive-ghost);
        background: var(--background-button-destructive-ghost);

        .text {
          color: var(--text-status-destructive-secondary);
        }

        .lead-icon,
        .tail-icon{
          color: var(--icon-status-destructive-secondary);
        }

        &:hover {
          border-color: var(--background-button-destructive-ghost-hover);
          background: var(--background-button-destructive-ghost-hover);

          .text {
            color: var(--text-status-destructive);
          }
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(255, 178, 178, 0.60);
          border-color: var(--border-action-focus-destructive-light);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          border-color: var(--background-button-destructive-ghost-disabled);
          background: var(--background-button-destructive-ghost-disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }
        }
      }
    }
  }

  &--info {
    &.style {
      &--primary {

        background: var(--background-button-info);

        .text {
          color: var(--text-base-static-white);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-base-static-white);
        }

        &:hover {
          background: var(--background-button-info-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#4778F5, 0.2);
        }

        &:disabled {
          color: var(--text-status-info-tertiary);
          background: var(--background-button-info-disabled);
        }
      }

      &--secondary {

        border-color: var(--border-action-info);
        background: var(--background-button-info-secondary);

        .text {
          color: var(--icon-status-info);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-info-secondary);
        }

        &:hover {
          border-color: var(--border-action-info-hover);
          background: var(--background-button-info-secondary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#4778F5, 0.2);
        }

        &:disabled {
          color: var(--text-status-info-tertiary);
          border-color: var(--border-action-info-disabled);
          background: var(--background-button-info-secondary-disabled);

          .text {
            color: var(--text-status-info-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--text-status-info-tertiary);
          }
        }
      }

      &--tertiary {

        background: var(--background-button-info-tetriary);

        .text {
          color: var(--text-status-info);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-info);
        }

        &:hover {
          background: var(--background-button-info-tetriary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#4778F5, 0.2);
          border-color: var(--border-action-focus-info-light);
        }

        &:disabled {
          color: var(--text-status-info-tertiary);
          background: var(--background-button-info-tetriary-disabled);

          .text {
            color: var(--text-status-info-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--icon-status-info-tertiary);
          }
        }
      }

      &--ghost {

        border-color: var(--background-button-info-ghost);
        background: var(--background-button-info-ghost);

        .text {
          color: var(--text-status-info-secondary);
        }

        .lead-icon,
        .tail-icon{
          color: var(--icon-status-info-secondary);
        }

        &:hover {
          border-color: var(--background-button-info-ghost-hover);
          background: var(--background-button-info-ghost-hover);

          .text {
            color: var(--text-status-info);
          }
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#4778F5, 0.2);
          border-color: var(--border-action-focus-info-light);

          .text {
            color: var(--text-status-info);
          }
        }

        &:disabled {
          color: var(--text-status-info-tertiary);
          border-color: var(--background-button-info-ghost-disabled);
          background: var(--background-button-info-ghost-disabled);

          .text {
            color: var(--text-status-info-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--text-status-info-tertiary);
          }
        }
      }
    }
  }

  &--success {
    &.style {
      &--primary {

        background: var(--background-button-success);

        .text {
          color: var(--text-base-static-white);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-base-static-white);
        }

        &:hover {
          background: var(--background-button-success-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#26BD6C, 0.2);
        }

        &:disabled {
          color: var(--text-status-success-tertiary);
          background: var(--background-button-success-disabled);
        }
      }

      &--secondary {

        border-color: var(--border-action-success);
        background: var(--background-button-success-secondary);

        .text {
          color: var(--icon-status-success);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-success-secondary);
        }

        &:hover {
          border-color: var(--border-action-success-hover);
          background: var(--background-button-success-secondary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#26BD6C, 0.2);
        }

        &:disabled {
          color: var(--text-status-success-tertiary);
          border-color: var(--border-action-success-disabled);
          background: var(--background-button-success-secondary-disabled);

          .text {
            color: var(--text-status-success-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--text-status-success-tertiary);
          }
        }
      }

      &--tertiary {

        background: var(--background-button-success-tetriary);

        .text {
          color: var(--text-status-success);
        }

        .lead-icon,
        .tail-icon {
          color: var(--icon-status-success);
        }

        &:hover {
          background: var(--background-button-success-tetriary-hover);
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#26BD6C, 0.2);
          border-color: var(--border-action-focus-success-light);
        }

        &:disabled {
          color: var(--text-status-success-tertiary);
          background: var(--background-button-success-tetriary-disabled);

          .text {
            color: var(--text-status-success-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--icon-status-success-tertiary);
          }
        }
      }

      &--ghost {

        border-color: var(--background-button-success-ghost);
        background: var(--background-button-success-ghost);

        .text {
          color: var(--text-status-success-secondary);
        }

        .lead-icon,
        .tail-icon{
          color: var(--icon-status-success-secondary);
        }

        &:hover {
          border-color: var(--background-button-success-ghost-hover);
          background: var(--background-button-success-ghost-hover);

          .text {
            color: var(--text-status-success);
          }
        }

        &:focus, &:active {
          box-shadow: 0 0 0 var(--numbers-2) rgba(#26BD6C, 0.2);
          border-color: var(--border-action-focus-success-light);

          .text {
            color: var(--text-status-success);
          }
        }

        &:disabled {
          color: var(--text-status-success-tertiary);
          border-color: var(--background-button-success-ghost-disabled);
          background: var(--background-button-success-ghost-disabled);

          .text {
            color: var(--text-status-success-tertiary);
          }

          .lead-icon,
          .tail-icon {
            color: var(--text-status-success-tertiary);
          }
        }
      }
    }
  }
}

.shape {
  &--rounded {
    &.size {
      &--large {
        border-radius: var(--measurements-radius-xl);
      }

      &--medium {
        border-radius: var(--measurements-radius-xl);
      }

      &--small {
        border-radius: var(--measurements-radius-lg);
      }

      &--extra-small {
        border-radius: var(--measurements-radius-md);
      }
    }
  }

  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}
