.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  .lead-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 var(--numbers-4) 0 0;
  }

  .text {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  .badge {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: var(--text-base-secondary);
    background: var(--background-badge-surface);
    margin: 0 0 0 var(--numbers-4);
    box-sizing: border-box;

    .label {

      font-weight: var(--typography-weight-semi-bold);
    }
  }

  .tail-icon {

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 var(--numbers-4);
  }
}

.size {
  &--large {

    height: var(--numbers-48);
    padding: var(--numbers-12) var(--numbers-16);
    font-size: var(--typography-size-body-s);
    line-height: var(--typography-line-height-body-s);
    letter-spacing: var(--typography-letter-spacing-body-s);

    .lead-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-4);
      border-radius: var(--measurements-radius-md);

      .label {
        font-size: var(--typography-size-caption-l);
        line-height: var(--typography-line-height-caption-l);
        letter-spacing: var(--typography-letter-spacing-caption-l);
        padding: 0 var(--numbers-4);
      }
    }

    .tail-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }
  }

  &--medium {

    height: var(--numbers-40);
    padding: var(--numbers-10) var(--numbers-12);
    font-size: var(--typography-size-caption-l);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);

    .lead-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-3);
      border-radius: var(--measurements-radius-sm);

      .label {
        font-size: var(--typography-size-caption-m);
        line-height: var(--typography-line-height-caption-m);
        letter-spacing: var(--typography-letter-spacing-caption-m);
        padding: 0 var(--numbers-3);
      }
    }


    .tail-icon {

      width: var(--numbers-20);
      height: var(--numbers-20);
    }
  }

  &--small {

    height: var(--numbers-32);
    padding: var(--numbers-6) var(--numbers-10);
    font-size: var(--typography-size-caption-l);
    line-height: var(--typography-line-height-caption-l);
    letter-spacing: var(--typography-letter-spacing-caption-l);

    .lead-icon {

      width: var(--numbers-16);
      height: var(--numbers-16);
    }

    .text {

      padding: 0 var(--numbers-4);
    }

    .badge {
      padding: var(--numbers-2) var(--numbers-3);
      border-radius: var(--measurements-radius-sm);

      .label {
        font-size: var(--typography-size-caption-m);
        line-height: var(--typography-line-height-caption-m);
        letter-spacing: var(--typography-letter-spacing-caption-m);
        padding: 0 var(--numbers-3);
      }
    }

    .tail-icon {

      width: var(--numbers-16);
      height: var(--numbers-16);
    }
  }

  &--extra-small {

    height: var(--numbers-24);
    padding: var(--numbers-4) var(--numbers-8);
    font-size: var(--typography-size-caption-m);
    line-height: var(--typography-line-height-caption-m);
    letter-spacing: var(--typography-letter-spacing-caption-m);

    .lead-icon {

      width: var(--numbers-14);
      height: var(--numbers-14);
    }

    .badge {
      padding: 0 var(--numbers-2);
      border-radius: var(--measurements-radius-xs);

      .label {

        font-size: var(--typography-size-caption-m);
        line-height: var(--typography-line-height-caption-m);
        letter-spacing: var(--typography-letter-spacing-caption-m);
        padding: 0 var(--numbers-2);
      }
    }

    .tail-icon {

      width: var(--numbers-14);
      height: var(--numbers-14);
    }
  }
}

.style {
  &--primary {

    color: var(--text-base-inverted);
    background: var(--background-button-primary);

    &:hover {
      background: var(--background-button-primary--hover);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-primary--disabled);

      .badge {
        border-color: var(--border-base-alpha);
        background: var(--background-badge-surface);

        .label {
          color: var(--text-base-quaternary);
        }
      }
    }
  }

  &--secondary {

    color: var(--text-base-secondary);
    background: var(--background-button-secondary);
    border: var(--numbers-1) solid var(--border-action-normal);

    .text {
      color: var(--text-base-primary);
    }

    .badge {

      background: var(--background-badge-gray);
      border: var(--numbers-1) solid var(--border-base-alpha);
    }

    &:hover {
      border-color: var(--border-action-hover);
      background: var(--background-button-secondary--hover);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      border-color: var(--border-action-disabled);
      background: var(--background-button-secondary--disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .badge {
        border-color: var(--border-base-alpha);
        background: var(--background-badge-surface);

        .label {
          color: var(--text-base-quaternary);
        }
      }
    }
  }

  &--tertiary {

    color: var(--text-base-secondary);
    background: var(--background-button-tetriary);

    .text {
      color: var(--text-base-primary);
    }

    .badge {

      border: var(--numbers-1) solid var(--border-base-alpha);
    }

    &:hover {
      background: var(--background-button-tetriary--hover);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-tetriary--disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .badge {
        border-color: var(--border-base-alpha);
        background: var(--background-badge-surface);

        .label {
          color: var(--text-base-quaternary);
        }
      }
    }
  }

  &--ghost {

    color: var(--text-base-secondary);
    background: var(--background-button-ghost);

    .text {
      color: var(--text-base-primary);
    }

    .badge {

      border: var(--numbers-1) solid var(--border-base-alpha);
      background: var(--background-badge-gray);
    }

    &:hover {
      background: var(--background-button-ghost--hover);
    }

    &:disabled {
      color: var(--text-base-quaternary);
      background: var(--background-button-ghost--disabled);

      .text {
        color: var(--text-base-quaternary);
      }

      .badge {
        border-color: var(--border-base-alpha);
        background: var(--background-badge-surface);

        .label {
          color: var(--text-base-quaternary);
        }
      }
    }
  }
}

.target {
  &--destructive {
    &.style {
      &--primary {

        color: var(--text-base-static-wight);
        background: var(--background-button-destructive);

        .badge {
          color: var(--text-status-destructive);
        }

        &:hover {
          background: var(--background-button-destructive--hover);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          background: var(--background-button-destructive--disabled);

          .badge {
            background: var(--background-badge-surface);

            .label {
              color: var(--text-status-destructive-tertiary);
            }
          }
        }
      }

      &--secondary {

        border: var(--numbers-1) solid var(--border-action-destructive);
        color: var(--text-status-destructive-secondary);
        background: var(--background-button-destructive-secondary);

        .text {
          color: var(--text-status-destructive);
        }

        .badge {

          background: var(--background-badge-surface);
          border: var(--numbers-1) solid var(--border-base-alpha);

          .label {
            color: var(--text-status-destructive);
          }
        }

        &:hover {
          border-color: var(--border-action-destructive-hover);
          background: var(--background-button-destructive-secondary--hover);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          border-color: var(--border-action-destructive-disabled);
          background: var(--background-button-destructive-secondary--disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }

          .badge {
            border-color: var(--border-base-alpha);
            background: var(--background-badge-surface);

            .label {
              color: var(--text-status-destructive-tertiary);
            }
          }
        }
      }

      &--tertiary {

        color: var(--text-status-destructive);
        background: var(--background-button-destructive-tetriary);

        .text {
          color: var(--text-status-destructive);
        }

        .badge {

          border: var(--numbers-1) solid var(--border-base-alpha);

          .label {
            color: var(--text-status-destructive);
          }
        }

        &:hover {
          background: var(--background-button-destructive-tetriary--hover);
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          background: var(--background-button-destructive-tetriary--disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }

          .badge {
            border-color: var(--border-base-alpha);
            background: var(--background-badge-surface);

            .label {
              color: var(--text-status-destructive-tertiary);
            }
          }
        }
      }

      &--ghost {

        color: var(--text-status-destructive-secondary);
        background: var(--background-button-destructive-ghost);

        .text {
          color: var(--text-status-destructive-secondary);
        }

        .badge {

          border: var(--numbers-1) solid var(--border-base-alpha);
          background: var(--background-badge-surface);

          .label {
            color: var(--text-status-destructive);
          }
        }

        &:hover {
          background: var(--background-button-destructive-ghost--hover);

          .text {
            color: var(--text-status-destructive);
          }
        }

        &:disabled {
          color: var(--text-status-destructive-tertiary);
          background: var(--background-button-destructive-ghost--disabled);

          .text {
            color: var(--text-status-destructive-tertiary);
          }

          .badge {
            border-color: var(--border-base-alpha);
            background: var(--background-badge-surface);

            .label {
              color: var(--text-status-destructive-tertiary);
            }
          }
        }
      }
    }
  }
}

.shape {
  &--rounded {
    &.size {
      &--large {
        border-radius: var(--measurements-radius-xl);
      }

      &--medium {
        border-radius: var(--measurements-radius-xl);
      }

      &--small {
        border-radius: var(--measurements-radius-lg);
      }

      &--extra-small {
        border-radius: var(--measurements-radius-md);
      }
    }
  }

  &--pill {
    border-radius: var(--measurements-radius-full);
  }
}